<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>arena_glass</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">arena_glass</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/arena_glass_a1.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map arena_glass created by gwd. Ķ-Ő-₣-Ť˺ for the Team Fortress 2 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/glass.5825/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/WeY2GYgJ#PF06_w2e-sNHYp-uiaZa0dVGaDxvOibd19a-81cpvv4">arena_glass_a1</a> - 3/25/18 by gwd KOFT @tf2maps
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
