<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>jump_jackjam</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">jump_jackjam</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map jump_jackjam created by Exer for the Team Fortress 2 4v4 PASS Time community. It was submitted to a Jump Jam competition as well. This is a rocket jump map that requires usage of the PASS Time JACK to make it through various jumps.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/KCQg2AiQ#Kt_NsAK80GjugJ8gGruqE8VBOyhJWcjzCeszj-45WHc">jump_jackjam_jam2</a> - 6/12/23 by <a href="https://discord.com/channels/471798073996345344/1116595625014865930/1117696398800994304">exer</a><br>
                        <a href="https://mega.nz/file/WHAzHLjA#c836LnS_EevrIn04CkO2TzTKLBLfzBe4C9T3vmFxt5Y">jump_jackjam_test9</a> - 6/9/23 by <a href="https://discord.com/channels/471798073996345344/1116595625014865930/1116599528171241502">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
