<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>jump_elongatedjack</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">jump_elongatedjack</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map jump_elongatedjack created by owen608 for the Team Fortress 2 4v4 PASS Time community. It is an experimental difficult PASS Time jump map.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/qChVxbRT#d2WLUnzWXBs9FzJv9kltTc5AQ8uMIy1XTZa3uEpcvXY">jump_elongatedjack_a5</a> - 10/21/24 by <a href="https://discord.com/channels/471798073996345344/1282351396024356885/1298055461786091595">owen608</a><br>
                        <a href="https://mega.nz/file/eCRgVbaC#E6D1ZwX_TWMVGuGAHhmc02M5AnG_1oJBjbjIqgamRyI">jump_elongatedjack_a4</a> - 10/8/24 by <a href="https://discord.com/channels/471798073996345344/1282351396024356885/1293308387806810142">owen608</a><br>
                        <a href="https://mega.nz/file/LS5Q3JiR#-RAwohxhtIX016yyC-dJxyhsmVIquVwTCsgJNF2KOLg">jump_elongatedjack_a3</a> - 10/2/24 by <a href="https://discord.com/channels/471798073996345344/1282351396024356885/1291163654145970281">owen608</a><br>
                        <a href="https://mega.nz/file/ieZiXL6R#k3MaUrSj8tptTdPrrwpEtKHqIX97Gl7Tg2cRiB8AksY">jump_elongatedjack_a2</a> - 10/1/24 by <a href="https://discord.com/channels/471798073996345344/1282351396024356885/1290846519490248715">owen608</a><br>
                        <a href="https://mega.nz/file/fexCDShS#oc7UNbdVydL6OF4Ku513J4_04UbK90wED7Ri8ur9EMg">jump_elongatedjack_a1</a> - 9/8/24 by <a href="https://discord.com/channels/471798073996345344/1282351396024356885/1282468153628295260">owen608</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
