<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>Maps</title>
    <style>
        header {
            height: 40%;
        }

        .title {
            transform: translateY(0%);
        }

        p {
            float: left;
            margin: auto;
            line-height:98%;
        }

        button {
            width: 100%;
            background-color:#111;
            border-color:#ffbe2c;
            color:white;
        }

        button:hover {
            background-color:#1b1b1b;
        }

        .thumbnails {
            max-width: 220px;
            padding: 4px;
            float: left;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <header>
            <div class="backgroundsContainer">
                <img class="showing background" src="{{ url_for('static', filename='imgs/arena2.png') }}">
                <img class="background" src="{{ url_for('static', filename='imgs/ufo.png') }}">
                <img class="background" src="{{ url_for('static', filename='imgs/colosseum2.png') }}">
                <img class="background" src="{{ url_for('static', filename='imgs/greenhouse.png') }}">
                <img class="background" src="{{ url_for('static', filename='imgs/stadium.png') }}">
                <img class="background" src="{{ url_for('static', filename='imgs/stonework.png') }}">
            </div>
            <div class="centered titleContainer">
                <h1 class="title">Maps</h1>
            </div>
        </header>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne" class="hidden">
                    <br> <!-- this whole button section is jank as fuck but I DON'T CARE !!!!!!!! feel free to correct this -->
                    <a href="pass_arena2"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/arena2.png') }}">
                            <p style="font-size:xx-large;">pass_arena2</p><p style="font-size:x-large;float:right">by Jaguar</p>
                            <br><br>
                            <p style="text-align:left;">Contributors: exer, EaasyE, Danmar, Crutch</p>
                            <br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">The original.</p>
                    </button></a>
                    <div style="line-height:25%;"><br></div> <!-- this is jank as fuck and I HATE IT !!!!! do not care enough to figure out how to correct it tho-->                    
                    <a href="pass_stadium"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/stadium.png') }}">
                            <p style="font-size:xx-large;">pass_stadium</p><p style="font-size:x-large;float:right">by exer</p>
                            <br><br><br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">The Superbowl, but bigger.</p>
                    </button></a>
                    <div style="line-height:25%;"><br></div>
                    <a href="pass_greenhouse"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/greenhouse.png') }}">
                            <p style="font-size:xx-large;">pass_greenhouse</p><p style="font-size:x-large;float:right">by exer</p>
                            <br><br><br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">Now eco-friendly!</p>
                    </button></a>
                    <div style="line-height:25%;"><br></div>
                    <a href="pass_stonework"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/stonework.png') }}">
                            <p style="font-size:xx-large;">pass_stonework</p><p style="font-size:x-large;float:right">by exer</p>
                            <br><br><br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">Ancient ruins with ancient secrets.</p>
                    </button></a>
                    <div style="line-height:25%;"><br></div>
                    <a href="pass_ufo"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/ufo.png') }}">
                            <p style="font-size:xx-large;">pass_ufo</p><p style="font-size:x-large;float:right">by DropKnock</p>
                            <br><br><br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">Whoever loses gets probed.</p>
                    </button></a>
                    <div style="line-height:25%;"><br></div>
                    <a href="pass_colosseum2"><button>
                        <img class="thumbnails" src="{{ url_for('static', filename='imgs/colosseum2.png') }}">
                            <p style="font-size:xx-large;">pass_colosseum2</p><p style="font-size:x-large;float:right">by exer</p>
                            <br><br><br><br><br><br>
                            <p style="text-align:left;font-size:x-large;line-height:100%;">A modern reimagining of two classics.</p>
                    </button></a>
                    <br><br><br><br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
