<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_arena2</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_arena2</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                    The map pass_arena2 created by Jaguar for the Team Fortress 2 4v4 PASS Time community. This was the first map ever made for the gamemode, both of which Jaguar created. Files that start with goalfix_ are likely created by EaasyE, the rest created by Jaguar. Exer took over development for version b8 onwards, since Jaguar did not develop the map anymore. Danmar also has contributed via mainly decoration passes. The listings for maps below are arranged in their most likely order chronologically, but their true order is unknown at this time.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_arena2.16840/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                    <a href="https://mega.nz/file/WCQgGZaT#2E01gqPR-s4PVTAjl_0676Nbj_gB-b434IomLCj5RP0">goalfix_strongerpush_clipping</a><br>
                    <a href="https://mega.nz/file/beh2lBqZ#zWnlAuPPypharS_kKcPgg-5EOXcuzoB66TbTI1K7f0g">goalfix_conveyor3</a> - 10/1/21 by <a href=https://discord.com/channels/471798073996345344/847697005433192478/893692719145312308>EaasyE</a><br>
                    <a href="https://mega.nz/file/eXQlhQrB#VY_UqFPYUNC7TeuumG9EgpSvdbTkDoV9boCcJa5R_cs">goalfix_conveyor3.vmf</a> - 11/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1039354945620684820">EaasyE</a><br>
                    <a href="https://mega.nz/file/LGBCxRzB#8wIiqcKzXto5OJWvTz9EDJcjwuZh8ExKDYW_M4BIQ48">pass_arenatest</a> - early version of arena with dev textures<br>
                    <a href="https://mega.nz/file/6bgklRAJ#I6YM4D5L6DG6xJuLOuSa23jPS6Czdaddc4Dqj5-oyss">pass_arena1_a12</a><br>
                    <a href="https://mega.nz/file/WKIQDabA#00L-XhsVGy4QTfX9vpAwF-QWx_MlAD3JhCdtxALnF9g">pass_arena2_a4</a><br>
                    <a href="https://mega.nz/file/6aIGyZoB#MUIXZqbVZ-BgAFMO-IQbL0ATVffG8RzG8kLeDLrzcGA">pass_arena2_a5</a><br>
                    <a href="https://mega.nz/file/aWpwmBxL#KXd0nWXM6Tq60zc4AVPZm9qxPmngUzBPr74M1868eZA">pass_arena2_a6</a><br>
                    <a href="https://mega.nz/file/bOgW0biZ#pkQHebPQY9VY3OOQEuvTSTr9Xyzdc-snq4DwXhT5eKg">pass_arena2_a7</a><br>
                    <a href="https://mega.nz/file/bag00YoC#xpGON9zHiE9wJIdMCwx-cR-_0P3iGiFckNbTETrd3J4">pass_arena2_a8</a><br>
                    <a href="https://mega.nz/file/zbIVhS7Z#JKuS-DkDh5hGHuS9YLAmfLaeU4hj-WB6_a-mBdqNhII">pass_arena2_a9</a><br>
                    <a href="https://mega.nz/file/3HwFRZTa#BXPWzGNOos3Lbp-IENZ9crUG_rizR9JSv32cxNVqndQ">pass_arena2_a10</a> - 11/10/20 by <a href="https://discord.com/channels/471798073996345344/724510854938230844/775873055234064406">obamid</a><br>
                    <a href="https://mega.nz/file/vTx1hJwI#v7ehlWcsjyGJXQlA_9WXE0anIv7O_GG1FQfzq_j_ZYA">pass_arena2_a11</a><br>
                    <a href="https://mega.nz/file/uOoG1IgT#zkTr-Fz4FthkZ3Icx4d9m6Dx6xlBcUJYxKJZ6LgDiHc">pass_arena2_a12</a><br>
                    <a href="https://mega.nz/file/mT52QKZb#XNxzXIFyCRlI4AaEaPdIP_fjUgh4NzUwPNYufElivxE">pass_arena2_b1</a><br>
                    <a href="https://mega.nz/file/zTxwXTpa#k9uW9IfgUPHquFPrlEIDUwxG_by7IseJVSN9V455RKc">pass_arena2_b3</a> - 9/26/18 by <a href="https://discord.com/channels/471798073996345344/491825043102367768/494677064201404417">sherwoodfan</a><br>
                    <a href="https://mega.nz/file/WXxETIYR#cqZ5LlTsmLPNII7YBXP77qi_F90tqR9SauJM-zAQEb4">pass_arena2_b4</a> - 7/13/19 by <a href="https://discord.com/channels/471798073996345344/491825043102367768/599802646441885699">Laxson</a><br>
                    <a href="https://mega.nz/file/rSBlQaZZ#Q9oSMG3UgL8jDC3jgFnU7c1BvLxjRX_UIfD_TKTTQBk">pass_arena2_b4_GCF4.vmf</a> - this is goalfix_conveyor4 but with pass prefix to make it work on serveme - 5/29/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1112929578990719036">EaasyE</a><br>
                    <a href="https://mega.nz/file/LG4DBbTY#nE_cSFiG8Q4VwcH-DNbQB24vsxlibuBT97QFIuwrGkw">pass_arena2_gfc4</a><br>
                    <a href="https://mega.nz/file/XOoznK4Q#xpiDOkoE5DC0yiyNdjE5WeFIbHBjiMNzw_ULJzw9Y3s">pass_arena2_b4_test1</a> - 11/17/18 by <a href="https://discord.com/channels/471798073996345344/491825043102367768/513572790087974922">Jaguar</a><br>
                    <a href="https://mega.nz/file/GeYyGawT#ky3BR4I1mi-0KgoK0LzogqdjStk4YYmO1asF4eThSgo">pass_arena2_b4_test2</a> - 11/25/18 by <a href="https://discord.com/channels/471798073996345344/491825043102367768/516425437468164110">Jaguar</a><br>
                    <a href="https://mega.nz/file/yOIRAJLZ#J8wqh2PZIuHfp2nKKd4LgWRxaNNB2XtY9UY9YMVEtKE">pass_arena2_b5</a> - 6/18/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1120132836880568431">Jaguar</a><br>
                    <a href="https://mega.nz/file/HXpBVZ4T#sBddiIIYk5Vgqsw3y-OddJZ1G6mVnO0L1WsjvvSHpxg">pass_arena2_b5_test1</a> - 5/18/19 by <a href="https://discord.com/channels/471798073996345344/491825043102367768/579411478436904960">Jaguar</a><br>
                    <a href="https://mega.nz/file/HGgigJDK#rUlDUkB-GduPWFuB2c424z71Crigd248XFRmILHOKFo">pass_arena2_b6</a> - 6/24/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1122301584928411658">Jaguar</a><br>
                    <a href="https://mega.nz/file/fSByERrb#cgxGbUWylM1uDXWv8LSDvxtMz8I4RvCke70PgjtIu9U">pass_arena2_b7</a> - 7/1/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1124830509613207654">Jaguar</a><br>
                    <br>
                    author: exer (confirmed by exer)<br>
                    <a href="https://mega.nz/file/vbJknTaK#eH71WYMuHejBMjjsZyrproeS-64p-xftuofIdR-q7o4">pass_arena2_showmatch</a><br>
                    <a href="https://mega.nz/file/OSh1nC6a#_a036XpmNsROo1PWngVngP0io0aPaWH0unk9Zb4Hgak">pass_arena2_showmatch2</a><br>
                    <a href="https://mega.nz/file/3Ow3XD6C#XscVo_qBDCQtVN6iKLVl9mRhy1fVfUbH3rf_wEi8P64">pass_arena2_showmatch3</a><br>
                    <a href="https://mega.nz/file/OaxGGJIC#z9XAekbGoQfBFfsVzrCar54F6MVZ4gxe2m9SU5QNDYk">pass_arena2_showmatch4</a><br>
                    <br>
                    <a href="https://mega.nz/file/rKQlTQAJ#ZgSkd79qnCCetKEoOMeL6unxcQbFeTEAr756P2MVmNQ">pass_arena2_b8</a> - 8/20/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1142806492748185672">exer</a><br>
                    <a href="https://mega.nz/file/yGYkALYC#-lFdD9G69iTpfMU2-l-wixm8ebQ4TtJGaoIwQesB73I">pass_arena2_b9</a> - 1/1/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1191579410009161758">exer</a><br>
                    <a href="https://mega.nz/file/vP5gzbqR#GjIzW-98Cy1PMtajAqLFObRaw1Kc5mj9cvM-BaoGKBs">pass_arena2_b9_fix</a> - 1/2/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1191885793069895830">exer</a><br>
                    <a href="https://mega.nz/file/aDJwgQra#aYnbO6cl035Uojsu6RpU9eEVpz-pt76QOK7lSCetkGw">pass_arena2_b10</a> - 2/14/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1207497424231206943">exer</a><br>
                    <a href="https://mega.nz/file/ybp1CBDT#ZO7NoEN2kJPzDwukqQLIFsa_lMYYJfRpKaZecfuMMgQ">pass_arena2_b11</a> - 3/13/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1217526568079851581">exer</a><br>
                    <a href="https://mega.nz/file/Ha4zSK5K#Ko84rZ09Bn1QZQvxKFcZ_90vTj5bFNldXSuBZREnDIc">pass_arena2_danmar_v3</a> - Danmar made a custom skybox for the map and some detailing<br>
                    <a href="https://mega.nz/file/qXRiFRDY#9M_vreA-SnFF0CMmUe3waI2Y2OVMYkXniNcTGZzFXCE">pass_arena2_danmar_v4</a><br>
                    <a href="https://mega.nz/file/Sa5wyJZI#ByJuD5RAOriZShS7fktRGTkawyUpUpxCuCs_L3o5urA">pass_arena2_b12_test4</a> - added Danmar's stuff but also attempting to fix an OP bomb<br>
                    <a href="https://mega.nz/file/LL5nmCZL#M4De89NXrHmXbFh2g5DfZ3ep5ZXmXOgP-vrVFEN8y34">pass_arena2_b12_test6</a><br>
                    <a href="https://mega.nz/file/Wew0zDKD#GHniYYrr-7vTVMwPDBXfTPiCOJ5S8OxEbraqU9k3Tjk">pass_arena2_b12_test12</a> - 5/10/24 by exer<br>
                    <a href="https://mega.nz/file/CDIlla4T#Dq6An-y4c9OwNrlgOACgeOHztwrI6KmQLRyhs_ytgxA">pass_arena2_b12_test16</a><br>
                    <a href="https://mega.nz/file/bagwkJrZ#fTebXF1XsJYtYnIKrYz80o_7jNIDfQDQG4ZfeuJcykA">pass_arena2_b12_test20</a><br>
                    <a href="https://mega.nz/file/ee50Rb5D#LpVUsHyxVCakHUtu__HW3fetVlOWatAC8k6MHo4nNl0">pass_arena2_b12</a> - 5/30/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1245791365674172486">exer</a><br>
                    <a href="https://mega.nz/file/LPQFVQIK#GToAZGFqJU9QWu5daH3yEr7xsUg6t_0eQI3E3lIADww">pass_arena2_b13</a> - 6/28/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1256279914043146270">exer</a><br>
                    <a href="https://mega.nz/file/XLJERAhZ#WKqaIv4yKiRAdtJx22cq0FTLIr1yIS8Y747sFMwmF7Y">pass_arena2_b14</a> - 7/18/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1263525817691144192">exer</a><br>
                    <a href="https://mega.nz/file/rbBHHIiD#KYaYEtQU44K-pFEEFX3_aioKQUX8TpFr8dofv6gQXBs">pass_arena2_b14a</a> - 9/3/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1280633094055137334">exer</a><br>
                    <a href="https://mega.nz/file/nKRlCaaD#SEtgYHeVUflq-oVGxrEIFwFfqNfrQ5C73GbMfovLN5A">pass_arena2_b14b</a> - 9/5/24 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1281301631442620498">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
