<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_maple</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_maple</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_maple_a10.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        pass_maple by kingfin for the 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_maple.17787/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/vOhlmbzA#1oDpzgC09dv6qYI4xQfL1oJJpTMnFlv0qweEo87HTVs">pass_maple_a10</a> - 9/12/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/PLBHATqT#4uVwHB3RT-nw1oC3HcYAN4tzyR2SeCVaGuNiefDCX_U">pass_maple_a9</a> - 8/10/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/CTp3STpR#-xxe4JrZDRdMkK9-rmbZUICxCgchmdPEUm0-6nG4UII">pass_maple_a8</a> - 7/16/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/KO4lkZII#IiWhLsq3GLUsB0K0kiv-0JbzowM9sLJ-vZj1cSajhkM">pass_maple_a7</a> - 7/13/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/aW5yTIoC#0hMPUJU_cLL8h7zpOD57-F0I4QsFmDNvl7dfqwjIVLQ">pass_maple_a6</a> - 7/11/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/qOp3DZLa#x75EsKr2IHIcA8K2U2O-QXdXQomlb_M6nmGxsd7rzS8">pass_maple_a5</a> - 6/27/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1256034914298630207">kingfin</a><br>
                        <a href="https://mega.nz/file/HTRBDCAL#ILVHFZuNQwR_Dhb-liRRpYspTUlyjYjThvJhoyoU1yI">pass_maple_a4</a> - 6/15/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1251698587516014612">kingfin</a><br>
                        <a href="https://mega.nz/file/rCYzBbjb#Sg-oqLr38Idyv6ryqG7w8qWuRFdeYZUOj-UXJE5Wmug">pass_maple_a3</a> - 6/6/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1248421496653746187">kingfin</a><br>
                        <a href="https://mega.nz/file/iaJXzSBT#Db42YNKe58aqrW_XcpD32DSC1Bsv1XB5FVarTKvdwog">pass_maple_a2</a> - 6/3/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1247057130717052968">kingfin</a><br>
                        <a href="https://mega.nz/file/WXhxVbaA#mGHZ4CgiLg5FErlmYZ8xF5w0z2zf5sg5cXI_741OExc">pass_maple_a1</a> - 6/2/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1247049451319857223">kingfin</a><br>
                        <a href="https://mega.nz/file/iO4EAbyA#hoc4MdDVQd1lo24Ysyx9iu0lhqXOeKDUz2_-flgzw3I">pass_maple_pugtest_2</a> - 6/2/24 by <a href="https://discord.com/channels/471798073996345344/1246729401702547456/1246729497626021899">kingfin</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
