<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_colosseum2</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_colosseum2</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_colosseum2 created by Exer for the Team Fortress 2 4v4 PASS Time community. colosseum2 is a combination of pass_smalltown and pass_colosseum by waves, revamped into something more modern and playable by Exer.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_colosseum2.17778/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/XDowDCRA#rvT0zDqNl6HSK1_1wfpU0Ee2_m-sN5vBXy5YDrZdxfs">pass_smallosseum_test3</a> - 11/7/23<br>
                        <a href="https://mega.nz/file/3HATwIJb#QXJnfRZufJvs9Te4Dt5wqFMvY9ns8bOjCuaUUFZsINs">pass_smallosseum_test4</a> - 11/18/23<br>
                        <a href="https://mega.nz/file/GWxzgCZC#evGwiP7Ba7rxVvrn8OSWogQ2Jx2RyYg_fH52inL5Bg8">pass_smallosseum_test5</a> - official public release - 11/18/23 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1175612622721261598">exer</a><br>
                        <a href="https://mega.nz/file/nTgVFR6B#bmIDhg2Sam7OyglrgxkOJxthGSLyoOQ13S2IcxvbAlk">pass_smallosseum_test6</a> - 11/19/23 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1175976596327387156">exer</a><br>
                        <a href="https://mega.nz/file/jXAhXTxR#-1cHJbgPaw2iUSZlh9o4aL1aauMuhFcxfSVOFosyrSo">pass_smallosseum_test7</a> - 11/20/23<br>
                        <a href="https://mega.nz/file/OaYxkA6I#Z7LbRINOQUSRcKWcBfZr2wwJfUh_mm4ITIscPxjoYc0">pass_smallosseum_test8</a> - 11/20/23 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1176288739237052416">exer</a><br>
                        <a href="https://mega.nz/file/3KJhHaSC#6NPz1I-9bkqmmj41GcqEjocI3dUjN04e_hRW8jNC1-Q">pass_colosseum2_a3</a> - 2/10/24<br>
                        <a href="https://mega.nz/file/iGZDyJRA#zKERdLreBvAavfkcY8M7CsaqwteSUf8rRB_ANQuV_c4">pass_colosseum2_a4</a> - officially renamed - 2/10/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1205919916427845714">exer</a><br>
                        <a href="https://mega.nz/file/ra5gGQ6Q#rhgHcG_DudshXLS2LP3iuLIi2JqT4ly3mDYNjkwcQwE">pass_colosseum2_a5</a> - 2/17/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1208641880666152970">exer</a> (maybe 1-2 day difference)<br>
                        <a href="https://mega.nz/file/7PpXUTAQ#01kaxYYgvLQSjiKjQ4Nk4JZ92NnYJdkYvdf-kINJSk4">pass_colosseum2_a6</a> - 3/13/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1217694942458019840">blake++</a> (see above)<br>
                        <a href="https://mega.nz/file/WHwExYBB#ugLo5YWprEMxXyf7djY0k2s-1x_pjThmCysBDr9HglM">pass_colosseum2_a7</a> - 3/13/24<br>
                        <a href="https://mega.nz/file/jXhEVAQL#v3frd_T6liRyPvRbgM1Lvfpts0Lqg-ZW-B-xFaKaM-Y">pass_colosseum2_a8</a> - 3/14/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1218055217417814016">blake++</a> (see above)<br>
                        <a href="https://mega.nz/file/HeRX0L6A#-xI2kYKAI11iyDRtArElLHXIFFOCVNQxkjOaR-7NBzU">pass_colosseum2_a9</a> - 3/15/24<br>
                        <a href="https://mega.nz/file/WSImiJgI#m0vIDhccwc4pl5m98pwoxtRaBjQ6W0FHbOleCVnQmow">pass_colosseum2_a10</a> - 3/15/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1218138105995984907">exer</a> (see above)<br>
                        <a href="https://mega.nz/file/7DwUhbSZ#6juUYQ3g9RrVn6Gqlaowr4g1jqQwkjJVpWV9Epaeo-0">pass_colosseum2_a12</a> - 3/18/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1219473886182248498">exer</a><br>
                        <a href="https://mega.nz/file/LThk0CYJ#O4sc14HYbeR5Unza1R3H_IM5JW4gkZPk9ojFpSr1LcA">pass_colosseum2_a14</a> - 6/7/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1248828542440046602">exer</a><br>
                        <a href="https://mega.nz/file/nTw11TaQ#pUn_ZGBRxnXpUPJAmTyorov0G5K9Mn9DDIy6GZmDKNw">pass_colosseum2_a16</a> - 8/19/24 by <a href="https://discord.com/channels/471798073996345344/1166119575545462824/1275282595650863144">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
