<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_arena2 Seasons</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_arena2_seasons</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_arena2_b8_winter_fix.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_arena2 created by Jaguar for the Team Fortress 2 4v4 PASS Time community. These versions are reskinned by Exer and are detailed to show specific seasons.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/iaQQQJzY#Wv1sKQvTXH5YQtT_v1loOklb813UWLwaMldwPyH1y4I">pass_arena2_b8_winter_fix</a> - 12/19/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1186865716348067942">exer</a><br>
                        <a href="https://mega.nz/file/SCBnlBZZ#05d3nuZ2iwl6JLpQGEjxfI8kj-HujYekLALMk7J7aFs">pass_arena2_b8_winter</a> - 12/18/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1186536954578337864">exer</a><br>
                        <a href="https://mega.nz/file/7SpXFKiK#9sTvXuozIwKwDJXwPNL1CQcDZJVx4PTKqqlQQL0HQ10">pass_arena2_b8_spooky</a><br>
                        <a href="https://mega.nz/file/WCgUhbSL#QoXYxM9kITbo5FxtJNPxqHQa-u3iHQYGSTiAjv9Ggng">pass_arena2_b8_fall2</a><br>
                        <a href="https://mega.nz/file/jSYAwAYa#nA8iK5amXAaw68n_xV9Z0DHs--A6bT5jSSyBd3BGqQo">pass_arena2_b8_exer_winter_test1</a><br>
                        <a href="https://mega.nz/file/LLAQULJY#xxR5b5YXtjQsLTezVJDmrt_Pe5O_G_04ucNcdaH6ysI">pass_arena2_b8_fall</a> - 11/10/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1172633493046558841">exer</a><br>
                        <a href="https://mega.nz/file/jfIXjawR#KbHeAT8h6l4_lUBLHAHk4cxqqEkEFv7U8UhpPigK-d0">pass_arena2_b8_exer_fall</a> - 11/10/23 by <a href="https://discord.com/channels/471798073996345344/1112809183000133794/1172541623608037407">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
