<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_mountain</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_mountain</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map pass_mountain created by Laxson for the Team Fortress 2 4v4 PASS Time community. It was created early on into the gamemode's lifespan, likely somewhere around 2018.
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/ubYVAITL#wFz3EX2yrbT0z5RmqvtAO9xNUI49QL1GcbbYdLxDTJ8">pass_mountain_b1</a><br>
                        <a href="https://mega.nz/file/CXIkSK4B#lFVQtFeZkxGpEUKcvvOo7chSQXGCgXFc953NW_7onL4">pass_mountain_a19</a><br>
                        <a href="https://mega.nz/file/vWJVXCiD#ap8Faaz5b56-tK5atAFNFevCSXNkPT3pYnoVL3l5qmQ">pass_mountain_a18</a><br>
                        <a href="https://mega.nz/file/3C4CRSAR#tjly4Rnh2fuWenn6yg3powyPy79Y3Gt58UnmKGBk_kM">pass_mountain_a17c</a><br>
                        <a href="https://mega.nz/file/Xe5hjQzL#tQPn_jqAfR_m5zyneMCPF54kdnA9QkRaZjLz6aogRZA">pass_mountain_a17b</a><br>
                        <a href="https://mega.nz/file/2HIAXIZB#yf7-lhIZPcJPb5fZ06j18A4eXap6_bJoVDoCRn2CCK0">pass_mountain_a17</a><br>
                        <a href="https://mega.nz/file/jCQghIZR#686dDZ5YlKGXcReipVhkxHpSkCFH7jIJrPV1pnFQ10s">pass_mountain_a16</a><br>
                        <a href="https://mega.nz/file/3P5Q2TAT#GEBea-Yyv9lOZ4Do0qpJv1zeYPl7lhkfH5oHCSdFs6w">pass_mountain_a15</a><br>
                        <a href="https://mega.nz/file/OPonjK4Q#la8yezfDhhwh0FMVPpFXpyosgUYxZPbrhlr3WMm73eE">pass_mountain_a14</a><br>
                        <a href="https://mega.nz/file/GDZXlRbQ#1QLa6-eyE6oE6pgibDhuQMBImelMsGuUfHabQOSavu4">pass_mountain_a13</a><br>
                        <a href="https://mega.nz/file/GPATDDJR#ACV7SNLZ2A3ChmsduGANmgECOTEzdDMoe8_HWuix9Mw">pass_mountain_a12</a><br>
                        <a href="https://mega.nz/file/rbBHBTJC#eNq5xB8HZyUnwDz_onhdTngWOuB8yeCyvwM6kyONDlY">pass_mountain_a11</a><br>
                        <a href="https://mega.nz/file/LeAkRbbQ#7mgzTMzMLms1P6bZ_z3qcKPAxL_SYu8XvId2grSPdb8">pass_mountain_a7</a><br>
                        <a href="https://mega.nz/file/yKpQ1TKL#OQBDG7ROMDMH1PACEvqdlweIBfTRYEBs7Ih8VVJrmU8">pass_mountain_a6</a><br>
                        <a href="https://mega.nz/file/yPhwjYJR#nyAWSvD4lW0vTaA1b0aADj5U2NKRLJf35UBHKLBhXJY">pass_mountain_a5</a><br>
                        <a href="https://mega.nz/file/vKhw1ZKa#Eoa2C-S7pli1eRoRYnW2tIr1U0HFq3UwaN78OLxFjzs">pass_mountain_a4</a><br>
                        <a href="https://mega.nz/file/3fB3SYjL#HCUwhFtboixVN8-ulprXhTE_ZSHpN2-bxJ5WzA3kgpM">pass_mountain_a3</a><br>
                        <a href="https://mega.nz/file/7GZwCCbA#FV06seReiNY__XhaCKx-ZH14_gaiXXBRDqw5c4N4_Ls">pass_mountain_a2</a><br>
                        <a href="https://mega.nz/file/WbZzjbqQ#9F2vlWQBR7Bw-obbkIJy1QpmOWNFAEspaRrw8-QGoiE">pass_mountain_a1</a><br>
                        <a href="https://mega.nz/file/2HAXlJrC#fMUTBX2AgttQdQ2fEET_E80n32PJICsIZ1k_MewNccA">pass_mountain</a>
                    
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
