<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_park</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_park</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_park created by Kibble Bites for the Team Fortress 2 4v4 PASS Time community. The map was originally created by Kibble Bites, but Bobby took over development after Kibble's ban.
                    <br><br>
                    <a style="font-size:x-large;" href="https://tf2maps.net/downloads/pass_park-72hr.14160/">TF2Maps (Kibble's)</a><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/park.16805/">TF2Maps (Bobby's)</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/LLZzBSLA#8hbiJmMycPZc6_V6BfwTN4Hrej-4SbvQ-cd_SeCsRD4">pass_park_b27</a> - 12/10/23 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/XX4mDIyJ#e084xULQ5gZjTO8BjNpWs53ZbRBvPP5KcqPPDz5YyFY">pass_park_b26_b</a> - 11/18/23 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/zDZl3BSD#BZ5tILhCu_ZJg9vAyg4D0iOJd_PV1nve0USLy66zYM4">pass_park_b26</a> - 11/17/23 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/3KQD0KbZ#4bBoLxbkQxt9P0eDpTGeUbBSNXJtdPsNBEMUSLyWNAE">pass_park_b25_b</a> - 9/17/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1153159935350276158">Bobby</a><br>
                        <a href="https://mega.nz/file/repSzLrI#Ckk1eWIQ8_bL29CYCf1YaqkPf1QbDvxhosUymyfzl2o">pass_park_b25</a> - 9/17/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1153125619111034951">Bobby</a><br>
                        <a href="https://mega.nz/file/XbgCxDzR#50aJ3PAohe1JGKAnRDoikXJC4tDKvewJpZoUw6Ltwzc">pass_park_b24</a> - 9/1/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1147264146996477953">Bobby</a><br>
                        <a href="https://mega.nz/file/jehwgRha#9NlkrvzkKSE7avHfOJ_jWZ9s8IOokBzEDVGV3zvUcnU">pass_park_b23</a> - 8/20/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1142973481055686737">Bobby</a><br>
                        <a href="https://mega.nz/file/TfZU1BzT#79otQyR0SMgQ90GrFFSsw8AlKaPhYHm-JA-NnI0lFPE">pass_park_b22</a> - 8/8/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1138613270496952512">Bobby</a><br>
                        <a href="https://mega.nz/file/7LpViTzC#2BUJwC6VvtMI8pPBwj1CA8SELKeiIzhrfWj4VsALyb0">pass_park_b21</a> - 7/30/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1135398324971782194">Bobby</a><br>
                        <a href="https://mega.nz/file/eCAAzbhT#8SoEnOOr8Jh-3QJ44IzzK07sbUr5nQpzQFKIZ1DycJI">pass_park_b20</a> - 7/28/23 by <a href="https://discord.com/channels/471798073996345344/1131615348945342564/1134711833433997433">Bobby</a><br>
                    </p>
                        <hr>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/uKJyXDKS#TQzigZVx0ElOvh9LapztybCps35MNWYOM38Z2wVL8DI">pass_park_pug21</a> - 5/19/23 by <a href="https://discord.com/channels/1102786346424205364/1106428407786504193/1109171269229887589">Kibble</a> (4s PTL Discord)<br>
                        <a href="https://mega.nz/file/jHIkiAxZ#CGeJBCoUyazZ8DVZETogKIn-qEXgtWwjli0YMZWcjOg">pass_park_pug20</a><br>
                        <a href="https://mega.nz/file/PeIl2DgT#cqB_rOkQvIRFl0d3cGXVCHlksahwCByakS3U0MtAlkQ">pass_park_pug7</a><br>
                        <a href="https://mega.nz/file/SahCmKZD#ABUcNm65Y9wyNc0kEahVRc_XVTIn3SBAk0COiiw0YSo">pass_park_pug5</a><br>
                        <a href="https://mega.nz/file/ba50laCS#Vy7Ble2nOsv_HRuKxzCUDYUeCPNHwytpLJrd9bkIw3Q">pass_park_PUG2</a> - 7/24/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1000958511439691856">Kibble</a><br>
                        <a href="https://mega.nz/file/PPgH1DrA#nhtYogxKOdJoLPD8MALOCS-uq-Ha9KZ27BFfM2cuL4k">pass_park_PUG</a> - 7/23/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1000596050735796314">Kibble</a><br>
                        <a href="https://mega.nz/file/rbIC1QKT#Yk9H_FjqFQUAhg5eLJz4G0onFWLE9OkHNahmWkcu_c0">pass_park</a> - 7/25/22 by Kibble @tf2maps
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
