<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_stadium</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_stadium</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_stadium was created by Exer for the Team Fortress 2 4v4 PASS Time community. It has gone through many revisions since its initial conception, reported by Exer to be due to not being as skilled as he is now at 4v4 PASS Time. This map has grown with him.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_stadium.15102/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/eKYziZTC#N4DKJB0V4TNFXib77alTMq41SrPrOjyntnGZkKcmDng">pass_stadium_rc3a</a> - 10/27/24 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1300211056886681631">exer</a><br>
                        <a href="https://mega.nz/file/uL5mUQRD#iNKm51HHxAXuniH7l7qhn5W58LuM91kGotM9TA2NGgk">pass_stadium_rc3</a> - 10/8/24 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1293416391218692149">exer</a><br>
                        <a href="https://mega.nz/file/GXAGiBAb#GKPFjs6yoV4q2XI_pQFUPFF_yD8uaaytpqitRyGSwA0">pass_stadium_rc2a</a> - 8/19/24 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1275314262440546385">exer</a><br>
                        <a href="https://mega.nz/file/3X4xRAQS#GHvQQS8oKfML_rCYVa6a_yzBCjwIll323pXxgGTJvNQ">pass_stadium_rc2</a> - 7/1/24 by <a href="https://tf2maps.net/downloads/pass_stadium.15102/history">exer</a><br>
                        <a href="https://mega.nz/file/eGYiTbLY#DBsFjoK-jMbmVjS64opmRKf1yRQGNj9538QxWRk2NnY">pass_stadium_rc1</a> - 3/18/24 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1219473802657009794">exer</a><br>
                        <a href="https://mega.nz/file/ePx1VKTB#DIl3U43YcPSAErTdMn-Nagkz8geDC7v83k3ijNI49R8">pass_stadium_showmatch4</a> - 4/29/23<br>
                        <a href="https://mega.nz/file/THgHmSrJ#d3dkeUcJE8XLln_mGi2JkEY_B7iYRcn_aDeU_IdI58c">pass_stadium_showmatch2</a> - 4/26/23<br>
                        <a href="https://mega.nz/file/iShQDJyK#uJRtcqrbSIb6mM1D6Qz3POY_BVMa_k81pAX4NUdps-w">pass_stadium_showmatch</a> - 4/25/23<br>
                        <a href="https://mega.nz/file/HaYVCAjQ#Z4O9UPsyUef24aK46R8lEy5Y6nKqpMKA1xKeTBB1gYU">pass_stadium_b32_topdown2</a> - 12/27/23; modified version of stadium to make taking screenshots from above for more.tf easier; requested by blake++ to exer<br>
                        <a href="https://mega.nz/file/iHIEyKQQ#6AmnLk2hp70jFVLnwbJibHCRUnIfnImVS1YJDnRwLjM">pass_stadium_b32_topdown</a> - 11/25/23<br>
                        <a href="https://mega.nz/file/Se40wBLS#BcJlXxa7UQIL-13siziBZ9_DdlZs5rwaIBLG4lkmYMU">pass_stadium_b32_event_test4</a> - 10/28/23<br>
                        <a href="https://mega.nz/file/GKBnUaCI#kfKqCBTJKna6jnHCcUTXMp4dK1xBLaxLzpiwZNSi320">pass_stadium_b32_event_test3</a> - 10/28/23<br>
                        <a href="https://mega.nz/file/bKQ2RILL#npne8sUK-MSnuVJUZwYZ8DS0ajlTaGlARGiBzHzw4tg">pass_stadium_b32_event_test2</a> - 10/28/23<br>
                        <a href="https://mega.nz/file/THxRBKqD#YX1Ctm--ibT2EeUQdpeB-g8LPjjOnwW_jugMEJcqApc">pass_stadium_b32_event_test1</a> - 10/28/23<br>
                        <a href="https://mega.nz/file/GHRnTQxY#OTrWeUiNYJgQYMWajqPKCNcgsW0HKeIiCdifQMXqkGA">pass_stadium_b32_event</a> - 10/28/23;  meme version for halloween<br>
                        <a href="https://mega.nz/file/PPhURSZL#ACv038qOkFIN9UR3uIJV1YCw06jF6dmKGOtOf1iiQVQ">pass_stadium_b31</a> - 8/16/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1141544072377552977">exer</a><br>
                        <a href="https://mega.nz/file/uf4hRLgK#83ArvWQzEsqYkkB1aChHXtgZuUt1zSi3B-xqVXGtUPM">pass_stadium_b30</a> - 7/17/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1130524581627695164">exer</a><br>
                        <a href="https://mega.nz/file/CPoGhCTL#JMU1xmRlVpC1l6sdSf2tzqLTAdzcoeTwGbali6fy1Xg">pass_stadium_b29</a> - 7/15/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1129821764575297686">exer</a><br>
                        <a href="https://mega.nz/file/nfxTAbgR#hSKy6Jq2Nfdt9bIwqym6tTg5Lyj1JvdxuftGoxy2kiY">pass_stadium_b28</a> - 6/24/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1122282932049023146">exer</a><br>
                        <a href="https://mega.nz/file/eWIX1YQb#CNaODrJ0VO2w-NhROf5dj7_s1cz5khMajy-mlzbcK8c">pass_stadium_b27</a> - 6/19/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1120249231609958471">exer</a><br>
                        <a href="https://mega.nz/file/yLwAmb5R#eQjXt2EwoFJcTFl5ZuPd7ppdlqQ-fUjKZw7VxCFavns">pass_stadium_b26</a> - 6/18/23 by <a href="https://discord.com/channels/471798073996345344/1112808776119095336/1120022642724982784">exer</a><br>
                        <a href="https://mega.nz/file/eOIG3DDb#JwJH9JW7sNeK7WpBh9YsigehKxDJuWLR3atYv_nMMiE">pass_stadium_b25</a> - 6/17/23<br>
                        <a href="https://mega.nz/file/zOgwmQAC#MJuiFCnRL0dqmVGPL5vDxVR0Z6jaz0CRlR_-EIscsf0">pass_stadium_b24</a> - 6/12/23<br>
                        <a href="https://mega.nz/file/TDImhIZT#1F7yMWtNPM2nzKnXr2fc0D32pzmFPIOdDybvOApg4A4">pass_stadium_b22</a> - 4/1/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1091915712907452510">exer</a><br>
                        <a href="https://mega.nz/file/fHw3hYjD#XBdYi-8UYP4CjnlnQjLtr9ZJgyDBQ8EfVHx1qZkHcF8">pass_stadium_b20</a> - 1/23/23 by <a href="https://tf2maps.net/downloads/pass_stadium.15102/history">exer</a><br>
                        <a href="https://mega.nz/file/6ShhiCjY#Ols0SD7sEh3yUzOZzxEbPaLiUtcrv9H1Ymw48yN8O28">pass_stadium_b19</a> - 1/22/23 by <a href="https://tf2maps.net/downloads/pass_stadium.15102/history">exer</a><br>
                        <a href="https://mega.nz/file/Kf4EmZxb#ZcxpWa4sjsAijkXapbJllgs0OccbAElbaBpFyBT1_Ic">pass_stadium_b18_test</a> - 1/4/23<br>
                        <a href="https://mega.nz/file/fb5kFB6B#jIYlP9rLUEaL3P4eDWfgDp-S_wRvtEqJkljPD4VV8No">pass_stadium_b17</a> - 1/1/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1058989683314540584">exer</a><br>
                        <a href="https://mega.nz/file/iSZXxKLb#yTLrjjTQIWPWIkXJax4j6jr1UTsSapPOKC3Gcxy2cuc">pass_stadium_b16</a> - 12/21/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1055312886009974875">exer</a><br>
                        <a href="https://mega.nz/file/aTYBETqK#PYzsPGr6qArZUqH8ZYJ_H70n7X9ZGWrtO0yyHV-XOdY">pass_stadium_b15</a> - 12/21/22<br>
                        <a href="https://mega.nz/file/SXpgVDKZ#O7hC3x_CcUSNJBWJAAApovYLfPkpqgGx8ck0G5jBbrQ">pass_stadium_b14_test</a> - 12/20/22<br>
                        <a href="https://mega.nz/file/mGRkCbbC#XhW3UbzwJAb2KsrkDVpQr8wqO8vmTPNR8kAaIXwAFS0">pass_stadium_b14</a> - 12/18/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1054227623661817916">exer</a><br>
                        <a href="https://mega.nz/file/zLZTFZBT#B_7ps-QaIeH3VNuZhlukj18gYjfkKWy-LtmRAFU3ZLk">pass_stadium_b13_test</a> - 12/18/22<br>
                        <a href="https://mega.nz/file/fTpUBBaS#eZTz7iEqz2hNKlLbjdL1k4wA7OWodJlEy-mOK0GAHNA">pass_stadium_b13</a> - 12/17/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1053904582574612521">exer</a><br>
                        <a href="https://mega.nz/file/XPhmjTJL#bsHKDZ80cADrUuYWzwrxZpfpnFweSCP7CCXnZR1b29c">pass_stadium_b12</a> - 12/14/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1052823152268410890">exer</a><br>
                        <a href="https://mega.nz/file/CCZhDCjR#_r1FFSH7IfVvbV2m5MbQegx53XYmDWjRRr2bAmgMM6g">pass_stadium_b11</a> - 12/10/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1051367204475641908">exer</a><br>
                        <a href="https://mega.nz/file/rHB3TKRI#jz6dPSIjYJ3UqXKadAXEva6o2x0EtgVGbr4a8dg2lf8">pass_stadium_b10</a> - 10/4/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1027064089496801321">exer</a><br>
                        <a href="https://mega.nz/file/GHgkXTIS#2ir4uvHra9-UKVtPac6-zfcM_01IVpB6jFaE799Y30w">pass_stadium_b9</a> - 10/4/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1026748181637242890">exer</a><br>
                        <a href="https://mega.nz/file/KbIhFTpa#h_bKxm2olxcHnK6U933JMcYNZHUNMNWnKTL5ijdKQSI">pass_stadium_b8</a> - 8/17/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1009627740988784710">exer</a><br>
                        <a href="https://mega.nz/file/SDJVVQaS#3ji5jAIjs2ofIWUd-nbDcDFtkyQutdpInbIXSN8kK9Q">pass_stadium_b7</a> - 8/3/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1004594272781221908">exer</a><br>
                        <a href="https://mega.nz/file/SOgTlLIY#6XSZDQlzXSLOtoiOacBjUqizfw3f1KB2ZRlZ5s667ek">pass_stadium_b6</a> - 8/3/22<br>
                        <a href="https://mega.nz/file/KSonTSQB#auf2-l0OtukWPQg2vlayVwkYhjP43vWrzmLw2SwuOv4">pass_stadium_b5</a> - 8/1/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1003846385940041748">exer</a><br>
                        <a href="https://mega.nz/file/XbpmhTaI#cAZG0pSNNmAkNfoc6q_U9pyI9SUrhdx6Z8905s4rnr4">pass_stadium_b4_ramptest</a> - 7/30/22<br>
                        <a href="https://mega.nz/file/rGZXXT6Q#aDhBoqRtm4K1i5HASaf13B6DGXscE2bRysg-pR81Dxo">pass_stadium_b4</a> - 7/30/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1003141407961268245">exer</a><br>
                        <a href="https://mega.nz/file/aep1QZDY#sQcGD56cdqqgXHCoKmYcfx9HGhPCgLEihs6Zc7kCY9k">pass_stadium_b3</a> - 7/29/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1002770251706011748">exer</a><br>
                        <a href="https://mega.nz/file/faZklBwa#vA4sIFzhZbarhI5f4Cq7LlXnJUT28CQZMfk9hAci9kU">pass_stadium_b2</a> - 7/20/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/999335713348788264">exer</a><br>
                        <a href="https://mega.nz/file/CTpigJLB#mZYnGBpma89R9X4Jid9IgNAdO4xYwOnO2n2kaWOkxnQ">pass_stadium_b1</a> - 7/1/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/992627045324558357">exer</a><br>
                        <a href="https://mega.nz/file/aPAkBSKT#BefrVYCMA4QT-8iC2jpK8UF5eX7Db6QYvVyTsbTxHVk">pass_stadium_a39</a> - 6/13/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/986108649304916018">exer</a><br>
                        <a href="https://mega.nz/file/6PxRUKLQ#sRxdGdRHXig4Fgk7nqM_bjEXJh_kx2YdKmkrSyH7J0k">pass_stadium_a38</a> - 6/13/22<br>
                        <a href="https://mega.nz/file/mbhlTbaa#kjqVW6U17YZBeSmo8kxmgGiCEKy8nxw-XglupALjHbQ">pass_stadium_a37</a> - 6/12/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/985761576122482698">exer</a><br>
                        <a href="https://mega.nz/file/7KYlFZiJ#KXMKFHFg_fLrS6Vta2RROVyyy0uutw1CcU3P_VsZq3U">pass_stadium_a36</a> - 6/11/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/985387082740551701">exer</a><br>
                        <a href="https://mega.nz/file/SOYwTbxZ#vXiInuemTWVHmfu4DadiQur1CwbA3rAt7RwfdeUtPDk">pass_stadium_a36_old</a> - 6/11/22<br>
                        <a href="https://mega.nz/file/rKATha6A#lpK7pFsXHWyUZxK0siX9A7PsvDBYNrr1OAijeBDWtlg">pass_stadium_a35</a> - 6/10/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/985039968663646208">exer</a><br>
                        <a href="https://mega.nz/file/7D5WTA4L#WUxJJtR2azSie8WYBA0Aq-98kEVDwj7Kj6JDRF1vSQs">pass_stadium_a34</a> - 6/10/22<br>
                        <a href="https://mega.nz/file/aehkjBIY#okBhw4sZXihzHhwnLsKIa5zna1Z2Lp50qCuL3kfOd8Q">pass_stadium_a33</a> - 6/9/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/984656464754909264">exer</a><br>
                        <a href="https://mega.nz/file/WaBi1aZQ#FftkWK08YdhEF7Q3G7ZpvMDe2c57HPpt-JtekZ4kdlQ">pass_stadium_a32_pr</a> - extended round timer ver - 6/8/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/984265033368338473">exer<br>
                        <a href="https://mega.nz/file/XOYEwaBJ#CYUagqcwRKD52pyomKU7AMwaokczzF08QSA8lOvC5s0">pass_stadium_a32</a> - 6/8/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/984264991014285406">exer</a><br>
                        <a href="https://mega.nz/file/PfpzFJbB#XmbCzF5c-8EkxBFzDreCHuHpVg56TF4dAGnQo7piKyQ">pass_stadium_a31</a> - 6/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/983915046423912518">exer</a><br>
                        <a href="https://mega.nz/file/uLJ2hbaB#7mxXyTZW_W5d6IfPWjBYPcQYRtNaZtvqmuPwcBRKZKk">pass_stadium_a30</a> - 6/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/983876053766402168">exer</a><br>
                        <a href="https://mega.nz/file/fLRElKTY#pk9vL2kSiduAnTgpyMUV3gs-jxchgCGujBrNzOVZZ58">pass_stadium_a29</a> - 6/1/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/981769086881103892">exer</a><br>
                        <a href="https://mega.nz/file/WaQ3WajI#CMd4WcrIuBX0VSAWJS_IYQn5ys3VEx58ia7XdeZlKrc">pass_stadium_a28</a> - 5/22/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/978153257048346665">exer</a><br>
                        <a href="https://mega.nz/file/OToyjTYb#psoNVtY1RHYt6NU14cmMDpMg95Aq9je1As56KYX77HE">pass_stadium_a27</a> - 5/21/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/977651474802815018">exer</a><br>
                        <a href="https://mega.nz/file/eKJQWJiD#z_Ssc2e4i3EINxsRnTYRhhYqIvU-L9R8lfhckxPj0fI">pass_stadium_a26</a> - 5/17/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/976118743748997192">exer</a><br>
                        <a href="https://mega.nz/file/baoTXTyZ#mxFZiNBmx2SK2rsDoCXuVBPltRp5YCDvm-_qyHJzmOE">pass_stadium_a25</a> - 5/17/22<br>
                        <a href="https://mega.nz/file/DawnWYhQ#vuq4ZauwkVUjiaVO5hC7EtzMJzHLAC522B4Mb8rlKh4">pass_stadium_a23</a> - 5/14/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/975241911231184926">exer</a><br>
                        <a href="https://mega.nz/file/qTQ1EaaD#X5pFArGf4naPGx4iqOv7vlMSG4KTR5ytn3b992IcBHI">pass_stadium_a21</a> - 5/11/22<br>
                        <a href="https://mega.nz/file/vCghQIiS#soyM4S-hP_7Zu4cnSSrzTfnNKjl1g4tTj-NphH5BloE">pass_stadium_a20</a> - 5/10/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/973470714927652915">exer</a><br>
                        <a href="https://mega.nz/file/ve4SyAKC#JGNmEyuTsoXDJG5Y58CrNI7mtrBwIG9Infy2WDrSbnU">pass_stadium_a19</a> - 5/9/22<br>
                        <a href="https://mega.nz/file/eLQyARbS#IH_cLzcx8VQmlxQOWQ2ouNifZvVeJe6beIYGalSRygA">pass_stadium_a18</a> - 5/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/972701388243103744">exer</a><br>
                        <a href="https://mega.nz/file/veQBDQpZ#LAtdN1wXT-e57O1gur3zSqpiWGBVyNVGAVD3IVQGva4">pass_stadium_a17</a> - 5/5/22<br>
                        <a href="https://mega.nz/file/vehF0BBS#s36QFW52kpcYC5PzWk_OmEVEPMUP0Tk9U1e8IzUpLKg">pass_stadium_a16</a> - 5/4/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/971578597527658497">exer</a><br>
                        <a href="https://mega.nz/file/XOB0Tbbb#gAO3WJjx62xsT7mXR4FI4AL5bt2-XIQDEBTkpFN52DM">pass_stadium_a15</a> - 5/4/22<br>
                        <a href="https://mega.nz/file/CPxE2QpL#AsQs_cPxF7hhFDMNaIQeF8eUjQdqWkaZpp2Pw48tmhA">pass_stadium_a14</a> - 5/4/22<br>
                        <a href="https://mega.nz/file/jWIwgYiA#aqt60R6fbAoSFYSRt8QbOZm4O2cGUHPw5BzgZOtxhyc">pass_stadium_a13</a> - 4/24/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/967652303580561468">exer</a><br>
                        <a href="https://mega.nz/file/nbhAWQZZ#NmqWDfGOs_VwtvgwBbvlu49yL4qb3TtcegTzanTWLFE">pass_stadium_a12</a> - 3/13/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/952451482588971029">exer</a><br>
                        <a href="https://mega.nz/file/qSIWHCLJ#Br38FITmfiYgb7Kj5fOyyc2OyJTk94nQyo-__ozEiuI">pass_stadium_a11</a> - 3/7/22<br>
                        <a href="https://mega.nz/file/LXozVCBL#ZSHSrKssW2JIeYcSd8JeTHTqRdoG26Bh5YDXRebDqRg">pass_stadium_a10</a> - 2/26/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/947367214976217138">exer</a><br>
                        <a href="https://mega.nz/file/iDQSkLBB#Vcc4hKJOS4VYAq6UNzuh25HCleF_fb9dpyTY6ZhKdMA">pass_stadium_a9</a> - 2/2/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/938532186024476682">exer</a><br>
                        <a href="https://mega.nz/file/jCQzAZzS#qAujXOUJunquV0IgXwdUPhnnAniZSgzTi4ukD-0jIiM">pass_stadium_a8</a> - 2/2/22<br>
                        <a href="https://mega.nz/file/WPgU0SZT#hcypwh9-nh0GRmkI2AVGstkNDfsme-KQpQ9uder8HPE">pass_stadium_a7</a> - 2/2/22<br>
                        <a href="https://mega.nz/file/CaAlwJSb#lqeJdSm6wY7LRKUP7BNj1uh5g4yAfPcMwOXqtbFL1rA">pass_stadium_a6</a> - 1/29/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/937208493490966528">exer</a><br>
                        <a href="https://mega.nz/file/2LBkHb6A#i6sZ7N2AC6C-1leHgFYPBeBYY2J1HVazJXCZCo-SahQ">pass_stadium_a5</a> - 1/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/929227908483022899">exer</a><br>
                        <a href="https://mega.nz/file/aPQFFCiS#0SMUUxV8ua2RgZcVCnTcpaU8lNH85O_D20_tDOAzzos">pass_stadium_a4</a> - 1/7/22<br>
                        <a href="https://mega.nz/file/qPQT1DSb#uNpd2YfjID8R50aCJEgOWl8Utx5b7Dj9s9iDudtuRHs">pass_stadium_a3</a> - 1/6/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/928556388840521738">exer</a><br>
                        <a href="https://mega.nz/file/2CRRzJST#F9-6o7PJ8AGY0YCZ4YM9SA09i88miMh-ZQCiJnLuem4">pass_stadium_a2</a> - 1/5/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/928278001924313128">exer</a><br>
                        <a href="https://mega.nz/file/XXZFDKTB#7IkWKXx5OaF-HWYHeVRwewcWBBgQ8b1_ETLD5DB4zJM">pass_stadium_a1</a> - 1/5/22<br>
                        <a href="https://mega.nz/file/iKYHHDaK#TAczP74USkLTtYKc--P6jQaLRTkugTGvqcZ32XeyjdE">pass_stadium_test8</a> - 1/4/22<br>
                        <a href="https://mega.nz/file/eKQTSRaB#Tf3FYWDBpyLpuriYmCemB8yZKjE2Da0QXzSiovJ0r20">pass_stadium_test7</a> - 1/4/22<br>
                        <a href="https://mega.nz/file/nHRVwRbT#HZNQ6-HHD0Yi4ja254Wg-ziSGmC53OSkEkjl4bth1Ts">pass_stadium_test6</a> - 1/4/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/927808762822148156">exer</a><br>
                        <a href="https://mega.nz/file/DG5nlZpS#WTPK7WE0C0RN1UWQHNM6ekk-PvyT-IR_rdMqYao5u0o">pass_stadium_test5</a> - 1/4/22<br>
                        <a href="https://mega.nz/file/GWYCBQxS#uDiZZrPeyNVkrlN0f9CrPwKd-goF1gpfF6vTggzutbs">pass_stadium_test4</a> - 1/3/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/927760128206340196">exer</a><br>
                        <a href="https://mega.nz/file/mDwRRTpT#uFRjXyO2472nKHnXD4bGlEixliNXpPU5MGhbjWIxkJw">pass_stadium_test3</a> - 1/3/22<br>
                        <a href="https://mega.nz/file/aKQhxLaI#GwEtu7NaJeUNK_Qmr3jEHMzEkbGtZBiv-QGGJRiduYQ">pass_stadium_test2</a> - 1/3/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/927586934962917386">exer</a><br>
                        <a href="https://mega.nz/file/ub5EVRIC#Qpt0YzLAl8NLeL_u-c22AEpZ7bMUkjJEt-hefXRDZV0">pass_stadium_try2</a> - 1/3/22<br>
                        <a href="https://mega.nz/file/KH5AiYZQ#6wC9ygDmR1sK9GI3xrluKqbSdck9R2Ku32XvNJGVO6w">pass_stadium_test1</a> - 1/3/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/927489451230396446">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
