<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_greenhouse</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_greenhouse</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_greenhouse created by Exer for the Team Fortress 2 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_greenhouse.17777/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/qfwxDQyQ#VQ8uwEFkD6ee_GhJmRHHdyy-QmJVigCb-ojPd3NcN20">pass_greenhouse_test1</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/6eJkACwB#vInLvyB2_rD12Wol6dTbIVmlW0hSVIf2B0qjsPD59dI">pass_greenhouse_test2</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/XHwRlJqK#kzuZE1frUHkQYYAqY5ML7fMCF1uCzbMKIQvSxKbf7pc">pass_greenhouse_test3</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/vaghETxR#g_tpV-uVB1ek4AksjTqdGmx8K7veJxZxmlgnR-V480Y">pass_greenhouse_test4</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/6HpmDJYJ#uqp87seUiF1Zd8LJ3ezdFHyHc5SUrfeMozh1b2W5gEo">pass_greenhouse_test5</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/OWpjWIYL#YlrDVma8Q8Dy4hrzX12cMCc6dfl5jm4PPmJVnrGCdOo">pass_greenhouse_test6</a> - 1/26/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1200662869138735114">exer</a><br>
                        <a href="https://mega.nz/file/SLhR0Lha#_YUoWfGpDsTnHzB2nW6OAWsoLFf4svCkmnGmiaejark">pass_greenhouse_a1</a> - 1/26/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1200665579728687235">exer</a><br>
                        <a href="https://mega.nz/file/neZgDJyD#GDO0UVXFzlrSY9egr8J_w_LiAew2LuPorw0AMwXoppg">pass_greenhouse_a2</a> - 1/26/24<br>
                        <a href="https://mega.nz/file/TGgnmC4S#cv9Pv6euOGFCHqnk523Ev1r7fbYfzqDMcIHwnNR6Zjg">pass_greenhouse_a3</a> - 1/27/24<br>
                        <a href="https://mega.nz/file/zCojXIwD#ZGadR3hjHTqOPhyLIiZeIJa10oZvzKy0tewCihJn9Yg">pass_greenhouse_a4</a> - 1/27/24<br>
                        <a href="https://mega.nz/file/7eI1wS4R#hNpU3QfyEgxH_uFTpsywjraWpE_m8HbUEhhLASdZDzU">pass_greenhouse_a5</a> - 1/27/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1200879193978830919">exer</a><br>
                        <a href="https://mega.nz/file/KTRgVSDK#2nitR9dsYNnuQ_WyL4S4d20b2xTnJjmLj6IqKCH5RJg">pass_greenhouse_a6</a> - 1/29/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1201703158271987783">exer</a><br>
                        <a href="https://mega.nz/file/iOw2ELLC#Z47VbxN61_NjaPQ6EalYUIRX32mjEwz6qrt5jMRWigg">pass_greenhouse_a7</a> - 2/17/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1208641064085360683">blake++</a><br>
                        <a href="https://mega.nz/file/CfYWhC6b#I65dk5aLyCJxnbHmqx0luCzhIxP7wdwVg5PD5ROpGcU">pass_greenhouse_a8</a> - 2/18/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1208959373599055882">exer</a><br>
                        <a href="https://mega.nz/file/SWh13RIR#uFvIstiSZ6MlKH11BGSeRzDTTbNGQj8U--MoDgMmBVc">pass_greenhouse_a9</a> - 3/5/24<br>
                        <a href="https://mega.nz/file/OaZkEAhZ#X_Sm4eoYdneqLyGLA633qHDRYsgclcocCbqZWcD7Kb4">pass_greenhouse_a12</a> - 3/18/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1219474078709059614">exer</a><br>
                        <a href="https://mega.nz/file/zW4Sga5b#MNaFaJe9gZnn7P6Ol-qQjtsacq0KOutA4S4qag7Iz9s">pass_greenhouse_a14</a> - 4/25/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1233065385021018213">exer</a><br>
                        <a href="https://mega.nz/file/aCIjSJ6a#rC8t58UXZhy9QF1uLBj2o0GVctJaq6ep2OWRZN3pDy0">pass_greenhouse_a15</a> - 4/28/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1234344284530933882">blake++</a><br>
                        <a href="https://mega.nz/file/6XAhVayb#mwcUkas-oh3tJaCbgG3KWhxy9C2yYiOdku5XLq37TMs">pass_greenhouse_a20</a> - 7/16/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1262924734975447060">exer</a><br>
                        <a href="https://mega.nz/file/jG5CnR7S#-uZW552VdhTafPiUIRR_J3ur6bybwy4dwDuCTY6vuLM">pass_greenhouse_a21</a> - 7/25/24 by <a href="https://discord.com/channels/471798073996345344/1200662869138735114/1266049628315451494">exer</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
