<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_mario</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_mario</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        pass_mario made by kingfin for the 4v4 PASS Time community.
                    <br><br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/rfpQWDLI#jh7_-oEvmIudy8QwlrFpRcOPwa1PrtYjxlg3avRfcW8">pass_mario_a4</a> - 9/15/24 by <a href="https://discord.com/channels/471798073996345344/1274921671165480960/1284942306541174814">kingfin</a><br>
                        <a href="https://mega.nz/file/TSw3mKab#Iv0dzAaDWLv5ZqiaxFwhIf2r_dnxvvwrpT4WrYPv1Dc">pass_mario_a3</a> - 8/24/24 by <a href="https://discord.com/channels/471798073996345344/1274921671165480960/1277059872151703573">kingfin</a><br>
                        <a href="https://mega.nz/file/bKJAgRaa#dIovy5tv_Z_GhVyWHlUeygU9eSj81PlYMV-VV9Ip_Hc">pass_mario_a2</a> - 8/18/24 by <a href="https://discord.com/channels/471798073996345344/1274921671165480960/1274934771155341334">kingfin</a><br>
                        <a href="https://mega.nz/file/jP5RXYBS#TymvJKMestayrtHj1Dfiy8DTadqm8aP5u0g7eDoRVq4">pass_mario_a1</a> - 8/18/24 by <a href="https://discord.com/channels/471798073996345344/1274921671165480960/1274921704644411463">kingfin</a><br>  
                    </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
