<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_junglegroove</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_junglegroove</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_junglegroove created by owen608 for the Team Fortress 2 4v4 PASS Time community.
                        <br><br>
                        <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/jungle-groove.17464/history">TF2Maps</a>
                        <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/eHAEGYBa#4l4c6nLg3YrgQBIquuAxSV2qJEQrGlFg9z1tPYgrErM">pass_junglegroove_a10</a> - 8/25/24 by <a href="https://discord.com/channels/471798073996345344/1226395448634380338/1277468159711907850">owen608</a><br>
                        <a href="https://mega.nz/file/aSQ3TS6D#g9-n92oL5WjTVu3tQ6OOdgFZD4bs6fzBpfA01KgrgTM">pass_junglegroove_a9</a> - 8/22/24 by <a href="https://discord.com/channels/471798073996345344/1226395448634380338/1276369702825758751">owen608</a><br>
                        <a href="https://mega.nz/file/KeoywRTR#fFORiOiQYz0oWx6XhY48iCTPdskjj5eSGSUpbJX7TCI">pass_junglegroove_a8</a> - 6/2/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/vKADhQxI#SDT8CIi0DefqjvSyV19scFVzJnlIqc1MX8nJ8CEVCII">pass_junglegroove_a7</a> - 5/30/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/ObgEHb6B#yRC5rU1CrcYH8ceZNRijtdMJED0lVPGXyAPkFo3g78o">pass_junglegroove_a6</a> - 5/9/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/qKZA2C5A#TgH2qtl8C9a9IrkH2NUdudjkeo1qQRdA0c6G0XFonMw">pass_junglegroove_a5</a> - 4/27/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/XfhTRBLY#D-axuUR4z2eTyzD8wj1DgctmW6lCtugiO7U3RYRPeeE">pass_junglegroove_a4</a> - 4/16/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/vT4k1SKR#uIN43tb-E-tYV4gRej3U6JWcvVujSU5wgIarPQNW-_o">pass_junglegroove_a3</a> - 4/11/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/THZRBJAS#meMyN-vm7gpIVxgmWCrts-wSfQHNPpprAWsRS69jNes">pass_junglegroove_a2</a> - 4/8/24 by owen608 @tf2maps<br>
                        <a href="https://mega.nz/file/TGI2wQJL#0AMAhTTuJdv8X7dlAHdub-g0uPw787Cp_P0qL5-4nGE">pass_junglegroove_a1</a> - 4/8/24 by <a href="https://discord.com/channels/471798073996345344/1226395448634380338/1226969368789778523">owen608</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
