<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_frag</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_frag</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_frag_a6.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map pass_frag created for the Team Fortress 2 4v4 PASS Time community. The author is unknown. The map is a reskin of pass_arena2 by Jaguar, made to look much more dark and gloomy. It is unknown when this map was made but best estimate is 2017-2019.
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/WDBmzIBD#yeNAUkGYxZ_YYueQUIDB0ZObuaw-ZkptCE89jo1Mem4">pass_frag_a6</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
