<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_plexiglass</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_plexiglass</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_plexiglass.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map pass_plexiglass created by Shears for the Team Fortress 2 4v4 PASS Time community. Danmar contributed by doing most of the art pass stuff.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_plexiglass.17375/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/KbhRgKrI#DmXuIGbQe9REvqG8c0jPvLygf5MWMW2RZXuIbc2nKy0">pass_plexiglass_b5</a> - 1/8/25 by Sheras @tf2maps<br>
                        <a href="https://mega.nz/file/7PAFEYBQ#_GOhzW8R2Gnfzj90ENhTN3UM3V6KogpUGRfdwt54_-U">pass_plexiglass_b4</a> - 10/27/24 by <a href="https://discord.com/channels/471798073996345344/1216222491324715028/1300317952549195817">Shears</a><br>
                        <a href="https://mega.nz/file/KGo2ADhA#L-LBZNhaZ83LD8I17eHNmW-ZdbEkwE-Hdo-ZHqJq7yA">pass_plexiglass_b3</a> - 10/12/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/mChnFYIS#7AbWNfwhVI0GWtC62PLXx6W2HofmXCx9y3tVeeajn9E">pass_plexiglass_b2</a> - 9/20/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/OCgFwbrT#rraqDmbkCxUJNNLq4YVsZb6F8QQ3SnM0Uc1mVcwcf5g">pass_plexiglass_b1</a> - 9/18/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/HDwE1SqQ#hrlCeMgNuLaYlxhXQIez4izd4cPXXFU2CGjxsrDbMOY">pass_plexiglass_a19</a> - 8/26/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/GHxm2aCT#0_wRCYf21BfFFk-fhZEVEZdYa4df8FEOlDv894J10-M">pass_plexiglass_a18</a> - 7/18/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/GWximbIT#BInqpv05s1KVm9Kn8StLJYNH_fUn6bQZe0XDtQYcJMo">pass_plexiglass_a17</a> - 7/14/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/mDhgRB7b#f48mTNuHsbqYtJg-AMudm4Im0qtEYJjM_tiG_eHDGPg">pass_plexiglass_a16</a> - 7/7/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/ieYD2bzJ#fy0kN0DC89gu-kFWya1_4RIc2cLZdWgUV36UmEOmHjs">pass_plexiglass_a15</a> - 6/30/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/nPxFVBaI#wRtL819jmthU7HeYSbcKip6QyTbrW9w4wKfqpxqaQS0">pass_plexiglass_a14</a> - 6/1/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/3KRFUTpB#ihof1yGga41cbtlXKqjqLgMeO_VkEFp7ZmfBXT4fyk8">pass_plexiglass_a13</a> - 5/25/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/fSoCgaRZ#0Y3WBqgCJQ0_HvxrZf52e0u7MFyd0Md1zupr1y3vIJM">pass_plexiglass_a12</a> - 5/22/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/ubY20QKR#pyUrVYT23ALbbfC9w1kGrW1lxwRBtvhrTnHp4pqmhlc">pass_plexiglass_a11</a> - 5/17/24 by <a href="https://discord.com/channels/471798073996345344/1216222491324715028/1241106968429596726">Shears</a><br>
                        <a href="https://mega.nz/file/jTRGTIxI#JWgtHtl86v52gH_4eG6HclN_HwJlk0qvlSROV6vV2ic">pass_plexiglass_a10</a> - 5/16/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/TKoCxTJK#KIS42i7OjxiDPrxiDPFmg4NwdGykrIDWnjxq5c0ekeI">pass_plexiglass_a9</a> - 4/23/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/eT5SBLoI#Xhx4r7n9RsMswDkV2bLpRS4tG5yuNA4rsJ98n-fTVwY">pass_plexiglass_a8</a> - 4/22/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/nfJxQQyT#tqGSz1KGBHDwp6ZbrpZW00ZL1QFpbH2P2PDMnbjVLoY">pass_plexiglass_a7</a> - 4/17/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/CS5zWDAI#ebg7rjaFz-GGWJ1GjPLPmYLre1qgvTzMZO1zxbPM_aY">pass_plexiglass_a6</a> - 4/9/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/HPgAVKra#_h7chmmFOrcxtohzr29z6s34cJ5mbfgZ_8409tewauk">pass_plexiglass_a5_jumppads</a> - 4/1/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/6bISQQDK#TgKmxpplL-aq_qMCSU8BygOU6xFUXduoPNgMCyCL8Gk">pass_plexiglass_a4</a> - 3/21/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/DTgE2AqL#tJ7xfEZO6V6fSuYYhsLWBsPOv6asNlwzLYhYyMCRJWs">pass_plexiglass_a3</a> - 3/20/24 by Shears @tf2maps<br>
                        <a href="https://mega.nz/file/uahDlThY#pzgcT44PXVvDKWFhtJshg1D5A94x7ERzhCLT24e_Y5A">pass_plexiglass_a2</a> - 3/13/24 by <a href="https://discord.com/channels/471798073996345344/1216222491324715028/1217620106008592416">Shears</a><br>
                        <a href="https://mega.nz/file/GaBimDYI#v1p2mCxF0J8T_USZUmuRc_daU4sRqJdGwNt73IxQDxY">pass_plexiglass_a1</a> - 3/9/24 by <a href="https://discord.com/channels/471798073996345344/1216222491324715028/1216222545863508028">Shears</a><br>
                        <a href="https://mega.nz/file/zCB3kaqT#_TTCZT63o6vOflCxBCQsR0Zw2koKV6-o1JB-zAUMcNY">pass_plexiglass_prealpha3</a> - 3/8/24 by <a href="https://discord.com/channels/471798073996345344/1214634685653716992/1215818333446864916">Shears</a><br>
                        <a href="https://mega.nz/file/mTYlARrb#uA_v77XMOYYtQ9dpdezPa_9WaWSD6Mci7iRJ_lJHsHQ">pass_plexiglass_prealpha2</a> - 3/5/24 by <a href="https://discord.com/channels/471798073996345344/1214634685653716992/1214634685653716992">Shears</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
