<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_4v4_template</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_4v4_template</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_4v4_template_bobby.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none;" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The uncompiled map made by Exer for the Team Fortress 2 4v4 PASS Time community. It is intended as template for mappers to use to more easily create 4v4 PASS Time maps, since the logic can be overwhelming to those unfamiliar with PASS Time's map logic.
                        <br><br>

                        <a href="https://www.youtube.com/playlist?list=PL2KT0JL74Qff_c1WbqNi4K5yAmpWAUQlq ">Hammer Tutorial Playlist</a>
                        <br>
                        <br>
                        Recommended Tools:<br>
                        <a href="https://ficool2.github.io/HammerPlusPlus-Website/download.html">Hammer++</a><br>
                        <a href="https://github.com/ruarai/CompilePal">CompilePal</a>
                    <br>
                    </p>
                    <hr>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/uSQQQLqI#VQMqPjvq8COJS2oB13s8lPRZHuA5hh6vECUNtRNt9KI">pass_4v4_template_v5.zip</a> - 1/8/25 by <a href="https://discord.com/channels/471798073996345344/1207097702148734986/1326659144698040411">exer</a> | zip with goal models and vmf; drag into tf folder and load vmf<br>
                        <a href="https://mega.nz/file/LW5xAIDK#frQGuBuxhEH9cld5vQV0_L3ztcB0Ihe2ruKClYNUBOM">pass_4v4_template_v4.zip</a> - 8/23/24 by <a href="https://discord.com/channels/471798073996345344/1207097702148734986/1276432067198062653">exer</a> | zip with goal models and vmf; drag into tf folder and load vmf<br>
                        <a href="https://mega.nz/file/CaRjBQwT#bnvYAFTXL2fodY8qLJ0bfVGfNGF-5EyZbIyNlEYnwnY">pass_4v4_template_bobby</a> - 3/29/24 by <a href="https://discord.com/channels/471798073996345344/1207097702148734986/1223370100351045813">Bobby</a> | Bobby added some fixes here<br>
                        <a href="https://mega.nz/file/Gb43XIYK#oChCk0v9zZDfGOizMucG7sqwV4u7jeC_x3lQinUK0ys">pass_4v4_template_v3</a> - 2/14/24 by <a href="https://discord.com/channels/471798073996345344/1207097702148734986/1207489501421633588">exer</a><br>
                        <a href="https://mega.nz/file/KTR2hZKa#dQmq4NHfr-xV7hJIZhYtrdPrbk9ts0D_WZNZDBBBfx0">pass_4v4_template_v2</a><br>
                        <a href="https://mega.nz/file/PDB1EJ6Q#S8GCalg-4fqj1qQHIcNDDaBybgdOAq3d6OBbQsiuBGI">pass_4v4_template_v1</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
