<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_waterpolo2</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_waterpolo2</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_waterpolo2 created by Kibble Bites for the Team Fortress 2 4v4 PASS Time community. This map was inspired by one of Laxson's concepts named pass_waterpolo. Many versions are currently lost.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/PPZjhYpC#UdCzZI1oC6m3WNiCjgptA9ew5WbwpzCN7OKv9Fd00CE">pass_waterpolo2_b8d</a><br>
                        <a href="https://mega.nz/file/iLp0XCpa#Mh9PtlTrgAUZnjWKTJBh7f14WWftQ9rcy7ElTb4-pqM">pass_waterpolo2_b6</a><br>
                        <a href="https://mega.nz/file/yXYwRQYR#Z1kW7a62Cu8Uf22gnPvpOE3bb1H0ISt9nIC8Lpq3xAg">pass_waterpolo2_kibble_a16_treefix_donutfix_lifeguardupdate</a> - 5/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/972720531092672532">Kibble</a><br>
                        <a href="https://mega.nz/file/LaByGabK#vjCSFskhaP_JxA2Py4KEYpGMFoLQS4NHYIcT5Ld-Vp0">pass_waterpolo2_kibble_a11_treefix</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
