<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_poptart</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_poptart</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_poptart created by Exer for the Team Fortress 2 4v4 PASS Time community. This map was created as a tribute to a user named SomeFatPoptart, as he was moving across the world and would not be able to play pick-up games anymore.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/SDQyRTIT#C6o3Y82mcOqyauptOSyQFhKEshTVTipvXWuHcCUhueg">pass_poptart_a3</a> - 3/29/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/iCx0WCCQ#33CBoyuezi1CPUuT4maRPMoiEyvKwuSYde1fpwFO-IM">pass_poptart_a2</a> - 3/29/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/fTR2UYDK#WaoS88eyxyPnM-bLThKFiJilUTwnQyBT8mc5Y6iij2U">pass_poptart_a1</a> - 3/29/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/fGQkWCBA#lwFsLeZTd_dqhUV4dPoJLL8qyLA3SdKhkWpMQbk8OTE">pass_poptart_test6</a> - 3/28/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/rHAy2CbK#cQLqW7e_UyBA-k4mLwgmAgaYxZqE7Jt5x7rKC-Czjsg">pass_poptart_test5</a> - 3/28/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/yShHETCB#P0ODunFoLAa8tJEXbK-pjOPy0slhAeD2qqybxCd-EE0">pass_poptart_test4</a> - 3/26/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/SOpExDzQ#0FFlGIgvQgRjHAk-al4_nRjQJXtrWfFh13NZ-0rantE">pass_poptart_test3</a> - 3/26/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/fbYygbqb#LlLjCwzTyPA_N37_aEzcqRLJZmuvm4RWukZb_moNFoI">pass_poptart_test2</a> - 3/21/24 by exer (sent via dms)<br>
                        <a href="https://mega.nz/file/TOoXxbLA#zJi0ErKW6tLqnc9MSxuW31iWBNfCt6I0rQe6wCpKPsM">pass_poptart_test1</a> - 3/21/24 by exer (sent via dms)<br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
