<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_krab</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_krab</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_krab_m1.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map pass_krab created by moose for the Team Fortress 2 4v4 PASS Time community. The map was the first initially only made for the EU branch of 4v4 PASS Time. It is designed to be used with no-lock; you cannot lock onto others for passes. Some versions like _m1 & _magnet also have magnet passing enabled. From v2 onwards (versioning protocols fear moose), the base version has magnet passing, the _nolock version has no lock passing.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_krab.18295/">TF2Maps (Magnet Ver)</a>
                    <a style="font-size:x-large;" href="https://tf2maps.net/downloads/pass_krab.18288/">TF2Maps (Nolock Ver)</a><br>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/DLY3QIAZ#ALamMvmY2De1HnwNnlcA1SmaDX7V4hO5QJe9JmcwETY">pass_krab_v6</a> & <a href="https://mega.nz/file/3LpFHaSS#a8Irftpm9PZMQLFwV3XfTtLdFXibpqYHWE22yq5Kzkc">pass_krab_v6_nolock</a> - 12/23/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/vex1XRjR#qbcPzqaSVe-AM6TPTefPmkbpPpcafofPenmhbqdyFgI">pass_krab_v5a</a> & <a href="https://mega.nz/file/6Cw2WK5A#-bDZBtWeB1CMTIUnyRQDTkFrEFk6odoqlINftCnUkZw">pass_krab_v5a_nolock</a> - 12/22/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/aCpF2DCA#IjWKS_p6oa39Q2txP7-5jTksa7fDjzWbvXcN14g8jFc">pass_krab_v5</a> & <a href="https://mega.nz/file/fKAnSRZT#mZCo8nKKb3Vc7b1yYpRqyPE3yvHA07K5KMx1EI_vkjI">pass_krab_v5_nolock</a> - 12/22/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/fW53AYpC#Gyd3x_7Of_xnJGEBHaiuKxaT-cNS8rfBMw9gzkZRUvw">pass_krab_v4a</a> & <a href="https://mega.nz/file/uWpBFDxZ#6wob_9n6NbBXUFK5hQq16kJ9TEHKOD8SHHGLZd5BcKM">pass_krab_v4a_nolock</a> - 12/20/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1319666508686692474">moose</a><br>
                        <a href="https://mega.nz/file/GGZkCTzC#Uc0rOfZNVMZ8difBtu1QFf4SdDmLNvfS2NdKO2FeSu8">pass_krab_v4</a> & <a href="https://mega.nz/file/WHBVBJwL#OwtZ7_Wl5QhoRwIc1r1uI5qxOCL2JaIDXPvg1W8rMAc">pass_krab_v4_nolock</a> - 12/18/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/OShCgSrC#QH_GLUFKerL56py4N_vfQLXcP1YSL8uk_po2ghnjVGw">pass_krab_v3</a> & <a href="https://mega.nz/file/Daw0mYDQ#WwzoblAQxtxuFiJU-RdXcJc5mRjXrRP3RBi548PPFgA">pass_krab_v3_nolock</a> - 11/17/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/iLpg3bob#L4MTdf8eg9gN857RLHhWyWcC5-_bNM-PIXf1Dw9KdJ8">pass_krab_v2</a> & <a href="https://mega.nz/file/GLYGzCqT#AKoJCAOxjTRlsu2-LcvY2S8Z-Gq4wGNobVn0rKUmjms">pass_krab_v2_nolock</a> - 11/15/24 by moose @tf2maps<br>
                        <a href="https://mega.nz/file/uKRlkJ5A#hW7wDC64bRlam8VM6y6rRRCysClJGua_7y5JMBCuXl8">pass_krab_m1</a> - 11/14/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306781324622696509">moose</a><br>
                        <a href="https://mega.nz/file/HagGWDhR#LUHQR_W8LGFCHCQjGhOcHz4Iy6LqO0QPxbwS7fLH1dA">pass_krab_a7</a> & <a href="https://mega.nz/file/eOA3mRiZ#LJTM-cU5Loehgv7D7IG3Wjifaa1dMdgyVX_WOE4lbLc">pass_krab_a7_magnet</a> - 11/14/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306712483075194893">moose</a><br>
                        <a href="https://mega.nz/file/PTphnBbZ#KkWK97kIcq_S47_hj_M6h0p1LpcTkp5BkQ0XRYZWTfE">pass_krab_a6</a> - 11/14/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306609453155745843">moose</a><br>
                        <a href="https://mega.nz/file/efBx1KjI#td5pd9L43IYbl_IHv90Tozf7b70bVDA507vCUHGX1wA">pass_krab_a5</a> - 11/13/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306430831983726612">moose</a><br>
                        <a href="https://mega.nz/file/XfwzCApC#FRFUTLdBwiJW6dPdYFEkiJblJ6qpg77XPYo7Y34ucKw">pass_krab_a3</a> - 11/13/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306324639320113253">moose</a><br>
                        <a href="https://mega.nz/file/mbABlaJa#U_T9IXIpgfq27zefLrQsftzXSj-wSChqYUynxL81dVk">pass_krab_a2</a> - 11/13/24 by <a href="https://discord.com/channels/471798073996345344/1306293630033461268/1306293706353283133">moose</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
