<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_manndamm</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_manndamm</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        pass_manndamm by owen608 for the 4v4 PASS Time community. Name was changed from pass_mann_damm to pass_MannDamm with version a15 since certain log parsers were having issues.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/mann-damm.17704/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/XOQAGDZI#TaZR0IuogNmS4h4WZUp88ogqTgi8qTky7WWwuuwejXQ">pass_MannDamm_a15</a> - 9/30/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1302726897637003347">owen608</a><br>
                        <a href="https://mega.nz/file/7OpHUSjR#e_FlEd7FUh5rWNbYu1-ZHdqh1Bc9uuxYax4O2TbVZMg">pass_mann_damm_a14</a> - 9/30/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1290425791179657227">owen608</a><br>
                        <a href="https://mega.nz/file/WSRUHBqC#jViJQmDA0clhe-gqFpoKk93Z4Zcbqx2oOTKc8yV-T8U">pass_mann_damm_a13</a> - 9/15/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1285029475440001044">owen608</a><br>
                        <a href="https://mega.nz/file/7WoQDBCS#6OLbCV0cY19CUTO2ZmXcN5ts-9DXloqPLPfYHHJe7Lg">pass_mann_damm_a12_fix</a> - 8/22/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1276261394328850493">owen608</a><br>
                        <a href="https://mega.nz/file/yK5gXB5J#-zPVkgK1KIpBDme5TY6JYStuWBz9yQQ56mHFZWU9M-o">pass_mann_damm_a12</a> - 8/16/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1274229502586916925">owen608</a><br>
                        <a href="https://mega.nz/file/yTIxTJRL#eNrp3YzwAHOpOYjvGph6QjbGqUR2EhnVnJUXOaP9XUE">pass_mann_damm_a11</a> - 7/16/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1262856261301702717">owen608</a><br>
                        <a href="https://mega.nz/file/OPQC3bBJ#K_8U2Ji4Iw07xjEr_7kk3Skib0UFR91WVMr9CCMkJ9Q">pass_mann_damm_a10</a> - 7/15/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1262596536349491311">owen608</a><br>
                        <a href="https://mega.nz/file/aCwH1ZZb#NWi-qSmvpUdZbU8SWK0j6DbtClYm2qwX3EOoGDOn9sg">pass_mann_damm_a9</a> - 7/12/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1261422981960171551">owen608</a><br>
                        <a href="https://mega.nz/file/GORj3aAQ#A2U6FaBYX-0W_Qpn0D0DB9bNwSVrr8tSjQqnubEM1tM">pass_mann_damm_a8_fix</a> - 7/7/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1259688098720251925">owen608</a><br>
                        <a href="https://mega.nz/file/ePhUSZDI#rsactRzL_kd6pnvSgq0rRpVzx855-C9mo1QazWbisbg">pass_mann_damm_a7</a> - 6/22/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1254165525257519185">owen608</a><br>
                        <a href="https://mega.nz/file/bOJV0ayY#D4wLiBGQq176scup_1sUT9rfXasG1CIvtjEo_UfisA0">pass_mann_damm_a6-point5</a> - 6/21/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1253932840622624769">owen608</a><br>
                        <a href="https://mega.nz/file/iTQDlbgD#AatvzPJjTrMFgh25TNDUi13YkwQ0CgMuvAgPshgSppY">pass_mann_damm_a6</a> - 6/21/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1253872188105293824">owen608</a><br>
                        <a href="https://mega.nz/file/KaJmUQQK#uZWSRqiZtKb4EXecdFnka_tzNFrx5b7GXoqNTG9Aq1U">pass_mann_damm_a5</a> - 6/17/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1252398267254313051">owen608</a><br>
                        <a href="https://mega.nz/file/zexlgCJJ#52j-_15JLI_6bOo_BsVpPplKvmler3ijLZVKPg_p0aI">pass_mann_damm_a4</a> - 6/16/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1252061467134398595">owen608</a><br>
                        <a href="https://mega.nz/file/zfphBb4C#nrGAbNqWV4hDYeu_AguH4Roo82T9hAktiYHXGYwBKy0">pass_mann_damm_a3</a> - 6/15/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1251636558885294141">owen608</a><br>
                        <a href="https://mega.nz/file/XKZjxARC#Qc8JHVghb9HAlNh6GGZRNNVnPFeNF4FiWFOJ_6ZlKLk">pass_mann_damm_a2</a> - 6/14/24 <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1251398038744862843">owen608</a><br>
                        <a href="https://mega.nz/file/HDAxUQCJ#qQnsfQiZ3UmTFkRqyi7bN2qB5O-sn6hIe-iJC795WCk">pass_mann_damm_a1</a> - 6/14/24 by <a href="https://discord.com/channels/471798073996345344/1250675129588125736/1251308012358991932">owen608</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
