<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_stonework</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_stonework</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                    The map pass_stonework created by Exer for the Team Fortress 2 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_stonework.15974/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/bLgDmQpT#COa7gy1sfg4SfhWYP-gcLilOv3Co1EZGPnz5M3fbch4">pass_stonework_rc2</a> - 10/8/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1293337371281981490">exer</a><br>
                        <a href="https://mega.nz/file/GapCUAAQ#g8_n4MFiu4rnuK4QQJb49oEXPishfYIZgDJjULRuq8k">pass_stonework_rc1</a> - 7/18/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1263541529209864263">exer</a><br>
                        <a href="https://mega.nz/file/CH4AwZAT#A7sXnUYwZBBZSLudhxOvzQYdbLAX8extfiq3a5XQHtw">pass_stonework_b11</a> - 7/12/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1261185364232634390">exer</a><br>
                        <a href="https://mega.nz/file/KfAACbqY#ht5pKcJ0yKsQDqx7n8DL5BcJ3iqqyLVxAVI2fQ5txw4">pass_stonework_b8</a> - 4/18/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1230485576252133378">exer</a><br>
                        <a href="https://mega.nz/file/CXAXGJ7A#4k7dcBVcwnSidBzRXv-lj88muH7Jf3VUrx5K9f0QHjA">pass_stonework_b6</a> - 3/18/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1219474015693832276">exer</a><br>
                        <a href="https://mega.nz/file/2OZFXbLR#uu9RHYkWFmwutsD6UUYGOEdLx3A3mXk96Hqgutfy_MI">pass_stonework_b5</a> - 1/1/24 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1191593583002787971">exer</a><br>
                        <a href="https://mega.nz/file/qDg1FDaI#9yqxdnFb5kc2GuiXgnLcVF6IzCjz08A5urE2CGA-J2E">pass_stonework_b4</a> - 12/29/23<br>
                        <a href="https://mega.nz/file/faImharb#u1UcEdnICBWjExVtvtGKRwdJGBaKEPwKPoJXXIM3BOY">pass_stonework_b3</a> - 12/28/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1190017996517802205">exer</a><br>
                        <a href="https://mega.nz/file/PWYEAJJJ#bFw3u04LrxUYVHBYzIRKErbcXqXUpAVzcen-k5B_7i4">pass_stonework_b2</a> - 12/27/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1189655582379081821">exer</a><br>
                        <a href="https://mega.nz/file/aThBUJqK#471X3fERGzLJZSGaiDozSa9zo9Tcb3VPGl7lEAlwrZo">pass_stonework_a27</a> - 11/15/23<br>
                        <a href="https://mega.nz/file/CX5HyTyR#7CLuYPwXo5opFm4T2z_D7HwCvmiB67DtNBtDCkMblo8">pass_stonework_a26</a> - 11/11/23<br>
                        <a href="https://mega.nz/file/DLYAmbZL#dGIO_tEhyMoakaw1y7yH3JTxW3ktTEeWu4XRMBhTNR8">pass_stonework_a25</a> - 9/23/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1155255689132900394">exer</a><br>
                        <a href="https://mega.nz/file/7XAUAYjJ#qnP6BPulUyoaDh6-wlZeMUfOwJsGv6GPemdKWa6AwoE">pass_stonework_a24</a> - 8/18/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1142236156902264843">exer</a><br>
                        <a href="https://mega.nz/file/WSQg3CwL#8HtSv3_aFCcy63HUjm1lBBlRIzOy292a0wMsXETf29g">pass_stonework_a23</a> - 8/18/23<br>
                        <a href="https://mega.nz/file/aKIFwATQ#a2hbilP8bCj82H5ejd4bE2xQr4oumpvSYzfme4CvgpM">pass_stonework_a22</a> - 8/6/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1137903208359022603">exer</a><br>
                        <a href="https://mega.nz/file/KPwEjLCQ#fdibBddqLUZtNTvxaELO355nrOo1Oak0uIcFAkvMGTo">pass_stonework_a19</a> - 7/22/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1132362342915653812">exer</a><br>
                        <a href="https://mega.nz/file/iWIBDQ6R#g9DtfY5TemNxop__eafx1wzMOT-is8rlJbMeUJp9mfw">pass_stonework_a18</a> - 7/18/23<br>
                        <a href="https://mega.nz/file/nSpkDZiS#LmtmT-Z9NebI0RQVUcmqzT8jZ7aw28F8BeRm2ECapqU">pass_stonework_a17</a> - 7/17/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1130488179846283294">exer</a><br>
                        <a href="https://mega.nz/file/HPhxlKIL#1BboQXED5NI3GAP2XdvCBsgVCOFML-65IPij3iciCzY">pass_stonework_a16</a> - 7/15/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1129878583553314836">exer</a><br>
                        <a href="https://mega.nz/file/GKgChSbb#yfFsErL1ebbyNSjRJbkUkZXsd6uNrTA0IeP6dD3mCC4">pass_stonework_a15</a> - 7/15/23<br>
                        <a href="https://mega.nz/file/DWpSBDoJ#7qdAwI8FYHIiS7ctUavIjbZ31fwad-qviRKLJrG16tU">pass_stonework_a14</a> - 7/15/23<br>
                        <a href="https://mega.nz/file/qe5CyRhT#aSezIZqsJrf3WZ7tosXTkXIDrNlGIru4LrHDPv_DsrI">pass_stonework_a13</a> - 7/15/23<br>
                        <a href="https://mega.nz/file/KWRmFSLK#ARoyOZ4utk01xldWu4eWYOoECppYKN8Bjx01likhhWI">pass_stonework_a11</a> - 6/24/23<br>
                        <a href="https://mega.nz/file/WexXwIqS#3wULPKuPNT3J83pvexAxugzOe2hpsfqdSjtT1AGoZG4">pass_stonework_a9</a> - 6/2/23<br>
                        <a href="https://mega.nz/file/bWgiFD6b#0L-7JecDD7zgudm9iCNbtzmyWPm8E4JZLVoCiY44YRA">pass_stonework_a8</a> - 5/31/23 by <a href="https://discord.com/channels/471798073996345344/1112808348325253120/1113534805326450738">exer</a><br>
                        <a href="https://mega.nz/file/jTgTWCoD#x82lvqxVnugnmcMFDe5VR3pAbJ-YRjGQXUH34qTgRmw">pass_stonework_a7</a> - 5/29/23<br>
                        <a href="https://mega.nz/file/uPAjVIKB#qsb3g8wYZaPncGEunCPeBD6H7d01c-x2YVCfnRhfXhk">pass_stonework_a5</a> - 5/27/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1112165686534475879">exer</a><br>
                        <a href="https://mega.nz/file/aepVjYwD#pqrnRYnLH3F5Udwwn2_CnvSa-5kOkVkdODqNUiPGUdM">pass_stonework_a4</a> - 5/27/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1112156543379570759">exer</a><br>
                        <a href="https://mega.nz/file/2CxF3LSJ#A9wR2Be5pEKY_80NN4Uhg1WNCIt3WDHFcJS_r3rLRIk">pass_stonework_a3</a> - 5/27/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1112090538863247370">exer</a><br>
                        <a href="https://mega.nz/file/zfxRVLYR#cgzXSk4fUvr5OVS4DuC4G-Kd1_iudB2oDmjYvpLLwCo">pass_stonework_a2</a> - 5/27/23<br>
                        <a href="https://mega.nz/file/LDJ2xK5Q#23oBC3MR-K9H-vlfiZFe89EZoPprW3eWjTO4uWPTnCM">pass_stonework_a1</a> - 5/26/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1111658458522062878">exer</a><br>
                        <a href="https://mega.nz/file/KCQAyQwA#apwGjM87q-m5pGiqthQkt0cBppoFqw5JT409bsPWVgg">pass_stonework_test13</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/HDoEgKyZ#by9tUorKeohiI_t7AdTfZQHrXDYPlamY84o4dX0IS1o">pass_stonework_test12</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/TLImwC7A#FfSQrVFuoABBh5Rsluf6KWHcaq6GN58025x5Stne-n8">pass_stonework_test11</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/CaoXwSwB#UwupYWPQTfBWdujOJBtJXw6eBV4LxHQJycRU4rEGHgY">pass_stonework_test10</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/2Cp0DbxR#qvw6VGo7wmad4NSv13S0LSga0D6Fu26u8hIG17C9qSE">pass_stonework_test9</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/uaBShYxR#5N5JDSduFrm3NdjNKIcv-MubQIbhqQgBfNBstGvdKdg">pass_stonework_test8</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/fXp0mBRL#eZS_aynvH0mnaQqVql4R8TULqiOKlGPZpJ1cs3tImKM">pass_stonework_test7</a> - 5/26/23<br>
                        <a href="https://mega.nz/file/uOhEkLDY#wkW6nsiy-3c61-OIOpBjpggZUgRSaasirmEIra3G48U">pass_stonework_test6</a> - 5/25/23<br>
                        <a href="https://mega.nz/file/nOY1UQCB#6N1ILADmYsKY5lGx49aVml89gNC-ZG5jhrOazLFJDjk">pass_stonework_test5</a> - 5/25/23<br>
                        <a href="https://mega.nz/file/HOYQjYRT#VkN06bWca8Ooicl-qT_1mYj0dI7AzltljCxOU7iQa_o">pass_stonework_test4</a> - 5/25/23<br>
                        <a href="https://mega.nz/file/3a4DiC7S#xFNpQHGKxO1yBUu9gL20QjbUU7XVlTdenb8qmssNEhM">pass_stonework_test3</a> - 5/23/23<br>
                        <a href="https://mega.nz/file/yTxwlI5Q#sfM5tXzSt3div4quH5zSzk3G5PYdWW2qPqzI9OA2mUM">pass_stonework_test2</a> - 5/23/23<br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
