<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_ufo</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_ufo</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_ufo created by DropKnock for the Team Fortress 2 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_ufo.16796/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/OSggQYia#s3k6Nz-nmR9_L8Xgz-lujWdHwBWxwls2q6a_Lp1Hkvw">pass_ufo_a1</a> - 11/26/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1046212825930014740">DropKnock</a><br>
                        <a href="https://mega.nz/file/XboWEK6L#HlnfzywbanbWEaV9O__mIpOS2lB_46ayUroUjJOMOV0">pass_ufo_a2</a> - 12/3/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1048782158568890449">DropKnock</a><br>
                        <a href="https://mega.nz/file/ubA2lJiZ#iHcgJjgAXvz6_coCxZ9ygrDneeHyDPugMbrA7n7MNbE">pass_ufo_a3</a> - 4/1/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1091813864531820624">DropKnock</a><br>
                        <a href="https://mega.nz/file/TfJjyKAT#5y3oQd_-qS455u9GPKLqwbAbbSDVnU6SyizjpIq5RDQ">pass_ufo_a4</a> - 4/22/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1099407292430028940">DropKnock</a><br>
                        <a href="https://mega.nz/file/KOIHBC5Y#J2_Sdlh65quh5urJl_ccUflWNliTGeu2oUqaLy3BXfk">pass_ufo_a6</a> - 5/21/23 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1109976585282539570">DropKnock</a><br>
                        <a href="https://mega.nz/file/zSInVazS#xGtwiKwletL2zxNUHsEJFpdXpylm0QTMaZyWL5vcF6s">pass_ufo_a7</a> - 8/1/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1136064209361317888">DropKnock</a><br>
                        <a href="https://mega.nz/file/TOomhCDL#sEkPyzFtcy6XslYGDV9Lk2KYeODm9Clz4U8GgyS9wdM">pass_ufo_a8</a> - 8/19/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1142509651661963425">DropKnock</a><br>
                        <a href="https://mega.nz/file/qL5nQKAZ#DjxSn_LLy8-gAvCQ4bxIrMEyz_IJ0-yqD-tKj_sLYgk">pass_ufo_a9</a> - 8/26/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1145146925205704744">DropKnock</a><br>
                        <a href="https://mega.nz/file/iS41VawT#sOLTsmK76PaAwZMGJaRei0OKFjc1jmlxhJCiqY_fj54">pass_ufo_a10</a> - 9/3/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1147995465745432638">DropKnock</a><br>
                        <a href="https://mega.nz/file/7OJB3TBI#9e1cTE_WTb6n4sUZLfjl0EUQ_2gGC8FtkO8jAV2l65A">pass_ufo_a11</a> - 9/16/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1152768682162925730">DropKnock</a><br>
                        <a href="https://mega.nz/file/qGx0AZDY#v0ZwzBMKcq5yhwaE9s8lEHrNHxRlXx_Q5HnTVjcUZZI">pass_ufo_a12</a> - 10/16/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1163479470313848832">DropKnock</a><br>
                        <a href="https://mega.nz/file/jDRSUaCT#gEPVnWCkqCWQbrK_zOXfTT6mL4ga02ttD8Jn84hHsdM">pass_ufo_a13</a> - 10/26/23 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1167104427245719552">DropKnock</a><br>
                        <a href="https://mega.nz/file/6TRlHRLT#UX0HgiiSklG0Rwat3oqMrPxG3RxYcfSA1LDxzgFKHMM">pass_ufo_a14</a> - 3/16/24 by <a href="https://discord.com/channels/471798073996345344/1136064209361317888/1218431069389586524">DropKnock</a>; DropKnock also uploaded <a href="https://mega.nz/file/qT4FDQ6b#AvSdzxWqM-bnpx8sfhags7BmKxpXPuqrotIATDOIVUw">ufo_files.7z</a> on 4/21/24 since he wasn't working on the map. renamed it for clarity<br>
                        <a href="https://mega.nz/file/iXBDBLzD#x-gRITi2eH4TuBDsbm-hiQVKEl4ERM016tS3ek6h2fE">pass_ufo_a14b</a> - 7/15/24 by <a href="https://tf2maps.net/downloads/pass_ufo.16796/history">DropKnock</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
