<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_boutique</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_boutique</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        pass_boutique made by kin for the 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_boutique.18242/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/jHhQXQSA#fB5n1uHw4WEVSnOZxa1lhIzjsw914fCu16CcwMLT5Nk">pass_boutique_b8c</a> - 11/14/24 by kin @tf2maps<br>
                        <a href="https://mega.nz/file/aaIxQLzL#RBiXQssJ-sxIDgnOyQZKxDNk19ht1dpO7QGzgfylHXk">pass_boutique_b8b</a> - 11/13/24 by kin @tf2maps<br>
                        <a href="https://mega.nz/file/SGQBWICZ#nTN1qOHOMyKKmnVZsW3rd5QSBtCK_Mn3M7HvT763roE">pass_boutique_b7</a> - 10/28/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1300519221595340942">kin</a><br>
                        <a href="https://mega.nz/file/WW4QVQoS#rpmAmSWHbURQ52dj8zwG-0hwFROauMeDXSkGtRXb9Ds">pass_boutique_b6</a> - 10/22/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1298434187702960190">kin</a><br>
                        <a href="https://mega.nz/file/CGoAEKRJ#z6eLnhyU3e0YSE_PnCN0n3kUIRbtl4rMxCg5RUclU5E">pass_boutique_b5b</a><br>
                        <a href="https://mega.nz/file/uaYHEIwL#eeJqTGq-Tq92Cs97wVfA2xi-vgJ5pvtYK3Hx0_P0ecg">pass_boutique_b5a</a> - 10/22/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1298347507935609016">kin</a><br>
                        <a href="https://mega.nz/file/XDpjzaBK#IEZ__61-ziTFS3pX_1BqJWarIEL--BKr31AkGTMoiSg">pass_boutique_b5</a> - 10/22/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1298172588106715148">kin</a><br>
                        <a href="https://mega.nz/file/vDJhhCbR#h1vs4SGJWeevzantvdqHPHOIWCd2YT6K6BoRW_NlwhA">pass_boutique_b4</a><br>
                        <a href="https://mega.nz/file/yKI3TTTD#jXMvWr1y9EwopLmnGdYdmYY_UP0vJFMkePTiOTq6CU8">pass_boutique_b3a</a> - 10/9/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1293788881350824056">kin</a><br>
                        <a href="https://mega.nz/file/PDg3xb5K#iVuOwY5r14LPSVPv4ZA5rGggErJv-sQj-f0V2Rrxvuo">pass_boutique_b3</a><br>
                        <a href="https://mega.nz/file/aeQCRRob#pjGINz0gPxt1ELyuxuyh59mSO0aiw_jzMHImfKL4Bwg">pass_boutique_b2</a> - 10/5/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1292245663559716947">kin</a><br>
                        <a href="https://mega.nz/file/KToHDTbB#4EV_OlF-XTBvHkePr_TFeuhXbG6L5A8nFtkdQ_N92Oo">pass_boutique_b1</a> - 10/3/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1291272083594149981">kin</a><br>
                        <a href="https://mega.nz/file/7ew3BYpC#XGrZ-xBPENPHSS4_3VcHsz-UkIj1aXb_S8O8NdbCLqg">pass_boutique_a11</a><br>
                        <a href="https://mega.nz/file/eLpFTIjI#rK80Pz-awFZRDCXvJxFbHUcBuCNc6_tJX-k9UmOt_Nk">pass_boutique_a10b</a><br>
                        <a href="https://mega.nz/file/zK5gjbDa#KVk2vRvmY7TzMZGDeyZHvw3AeBHPsaR0QiN6YZ6eHkw">pass_boutique_a10</a> - 10/1/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1290578488432263268">kin</a><br>
                        <a href="https://mega.nz/file/6aBl1TyK#DThFywB4qs6OGSNGhZr84BvJTdzVGMqromzUeo8GlNQ">pass_boutique_a9</a><br>
                        <a href="https://mega.nz/file/PGJzEYKD#BLADq7oAqzko9l3v6K6dO1DwhNi-LDKzo_AV5xdsZlI">pass_boutique_a8</a> - 9/27/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1289313454087344149">kin</a><br>
                        <a href="https://mega.nz/file/6WByjJxJ#jyMaEvgLwtvkAdIZnFMxkV2iXREqrhXxn3-dDh-T_Xc">pass_boutique_a7</a> - 9/18/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1285963540305412127">kin</a><br>
                        <a href="https://mega.nz/file/Xa5glAiD#W4NscwaBuvvceDrpyW_hSPJt60ysw03gaN9eCoiR0rI">pass_boutique_a6</a> - 9/17/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1285827506636718163">kin</a><br>
                        <a href="https://mega.nz/file/qTpE2JzK#uSIEJKoFhKEvHTVCzl3jXihtFqU-_15ZNQaLPcdZOhI">pass_boutique_a5d</a><br>
                        <a href="https://mega.nz/file/TTYgSagZ#wry2r_Lh3glXDHwIr5pHqN0uFpjOUaNMNNLKTeKGZYw">pass_boutique_a5c</a><br>
                        <a href="https://mega.nz/file/rKwXhCSA#-gg5YRIfaT600krvb40OqwZHsHZ5P0NDeAnYoL150iw">pass_boutique_a5b</a><br>
                        <a href="https://mega.nz/file/uf5QQAwC#UyXijtCt7Z5zvHWdebxs89fu4OD0QT5IW-fZQuphn6M">pass_boutique_a5</a><br>
                        <a href="https://mega.nz/file/ueI1RSxB#F_i57WhFdeS7Mlzbp0hxnk-JRYQv58fa2nxQXna9t4Q">pass_boutique_a4</a> - 9/16/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1285107803467415574">kin</a><br>
                        <a href="https://mega.nz/file/7HxQAaBD#jtNUrlI5oT2VKCxtelNdD5G-KhN70tZ1ms7lRDpq-CU">pass_boutique_a3</a> - 9/15/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1285026067446501396">kin</a><br>
                        <a href="https://mega.nz/file/fTYQwYxD#Uot4zlM8a6LhpO442fu_ZUJ7iBEhmKYRxkPWSaLVC5U">pass_boutique_a2</a><br>
                        <a href="https://mega.nz/file/bTJ3iDyD#HaDcVPCTyNv5yhboNcsbntWex-OgdS57f-hPOL9p1dc">pass_boutique_a1</a> - likely 9/15/24 by <a href="https://discord.com/channels/471798073996345344/1284823213511151677/1284823213511151677">kin</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
