<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_greece</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_greece</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        pass_greece by fronz for the 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_greece.18014/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/aH5zWKza#g5L_mQ0TR5QgpliygqGMx13ktcPfABce41A9c7dk1Ys">pass_greece_b7</a> - 11/10/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1305180287847628800">fronz</a><br>
                        <a href="https://mega.nz/file/HSxV2CyK#1vl5oSBZd4cK4IdscZKeIB9S218QmNptMoSFGSNlCVM">pass_greece_b6</a> - 11/9/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1304961346076409908">fronz</a><br>
                        <a href="https://mega.nz/file/XDQS1IgL#_SJ8dO2YSPAj9AUVy3Hl0CmqYcO9RvEciN8Os167TaA">pass_greece_b5</a> - 9/29/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1290156701705834547">fronz</a><br>
                        <a href="https://mega.nz/file/mWQSBaaQ#2SiOPAgAiko6X0P8jpOEmwTpu7vha4TXiULwvv6eUZY">pass_greece_b4</a> - 9/29/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1290131072214110219">fronz</a><br>
                        <a href="https://mega.nz/file/ibZinIJB#wg0p8lWSWBs26_FhGzu2fCwgkMfdA0r4rZa0ri0Aot0">pass_greece_b3</a> - 9/28/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1289782982080598100">fronz</a><br>
                        <a href="https://mega.nz/file/mGZXjRRb#ryTr9zStsAKvqDmnJynm3vzwSt23Kj2S4N25au5HQT8">pass_greece_b2</a> - 9/11/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1283559347011719212">fronz</a><br>
                        <a href="https://mega.nz/file/DW5UWYxQ#Pk9gCkH6pEK7WKxDsdcx3pNLDpyQW2_wkhTSNVLrJro">pass_greece_b1</a> - 9/6/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1281655488005673072">fronz</a><br>
                        <a href="https://mega.nz/file/XCw0AL4Y#HtPZCHWpA1ehW_S4FkSO7xk1Ta6PXexazO9pgr5R-14">pass_greece_a16</a> - 9/4/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1280919243163963536">fronz</a><br>
                        <a href="https://mega.nz/file/bDRH2DBC#Rkw1FwgN1J8E_ORknVx_cleO-dOrmfMRU-wlePN97Vs">pass_greece_a15</a> - 8/28/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1278348218400378926">fronz</a><br>
                        <a href="https://mega.nz/file/uCwRDaDD#isrIlmyTbki6ZpvVx_gv74AKt_iUlPkGryjnypx_5PA">pass_greece_a11</a> - 8/27/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1278163323124322366">fronz</a><br>
                        <a href="https://mega.nz/file/nOxR0IgK#Bq301v6SBcXiZ2Fu5otKONVTAZ4px_Rgjvka3l-gDSw">pass_greece_a10</a> - 8/27/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1278158018974060634">fronz</a><br>
                        <a href="https://mega.nz/file/XPxQAYoR#dojqJ59BPSbn-Iz_jMK3_RvkoymzPQQbvAe8nHMqT68">pass_greece_a9</a> - 8/26/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1277672825435455561">fronz</a><br>
                        <a href="https://mega.nz/file/TboRFKga#xIwxJTb1yV2wXfT1NFyWzAYelqPC2aeY0llK53dHwvM">pass_greece_a8</a> - 8/25/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1277294745353322506">fronz</a><br>
                        <a href="https://mega.nz/file/LWwFnLYQ#mIDyW1hCySzzTCSFc-MnrRpsKUil5pAjNcwYUFhv7tw">pass_greece_a7</a> - 8/20/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1275511252361150618">fronz</a><br>
                        <a href="https://mega.nz/file/XOBnxawZ#4oOoEadKQgMuQDQYeFywTThDSo14W6ToEZUCGw8HIt0">pass_greece_a6</a> - 8/18/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1274871985066737665">fronz</a><br>
                        <a href="https://mega.nz/file/6SZQFaxC#ylv6GfAWKMMAOXPvUjcu9Z4utgw0BNUfM-osnCIfN7c">pass_greece_a5</a> - 8/17/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1274532079979200532">fronz</a><br>
                        <a href="https://mega.nz/file/XOpyQCTQ#bVnztoOd8JKb-8EWa01EMb7ZHaPeiRZG21LIu6zwgeA">pass_greece_a4_testpack</a> - 8/17/24 by <a href="https://discord.com/channels/471798073996345344/1274435517580181604/1274496828917809328">fronz</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
