<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_torii</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_torii</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        pass_torii by kingfin & Speakers for the 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_torii.18134">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/fPgB3CqT#D2nUNizT9BdZWOg1yeZc3DVBA5pGxZQJRuoDKIgjiE4">pass_torii_a6</a> - 11/12/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/7DZGwa6b#AOtJ_I7_2MSZIlFlo6zSREmDS2OWI_mdTQ3FOODoz30">pass_torii_fps_test_1</a> - 11/12/24 by <a href="https://discord.com/channels/471798073996345344/1287225051334053969/1306049983874859129">kingfin</a><br>
                        <a href="https://mega.nz/file/LfICTRrK#299r_9qL6gydcfuW2V54EObc7p380rV57avHk3MGHmU">pass_torii_a5</a> - 10/6/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/jCIzgATI#mFUwvx6jzNF3BWFUCHK2MkXILbYXUEBJx_lb_RdBbyw">pass_torii_a4</a> - 9/28/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/fOJUDRrT#a-DBl2A2PZ-UtRF9kLRTRUZerWrYUWCiV9HQrj6bIuw">pass_torii_a3</a> - 9/28/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/jO5jUSyb#Fv3DmB2Szrrgu0-tPYB-IX65MTx4gsnJEe8-gcoakSs">pass_torii_a2</a> - 9/23/24 by kingfin @tf2maps<br>
                        <a href="https://mega.nz/file/fPR1yIyR#zplOFFNEOJa8Jwst5wItnwho2HqfuuiW4wSqV8mEpMs">pass_torii_a1</a> - 9/21/24 by kingfin @tf2maps
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
