<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_aquarium</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            font-size: 2em;
            transform: translateY(0%);
            position: absolute;
            left: 0; 
            right: 0; 
            margin-inline: auto; 
            z-index: 1;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
        <main>
            <div class="sectionBackground">
                <div style="position:relative">
                    <h1 class="title">pass_aquarium</h1>
                    <img style="width:40em;filter:blur(2px);" src="{{ url_for('static', filename='imgs/pass_aquarium_a15.webp') }}">
                </div>
                <section id="sectionOne">
                    <p style="text-indent:none">
                        <a style="text-decoration:none" id="DLButton" onclick=getLatest() href="#"><button class="discordButtons" style="width:100%;height:50px">Download Latest</button></a><br>
                        The map pass_aquarium created by Yo Yo Bobby Joe for the Team Fortress 2 4v4 PASS Time community.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/aquarium.17211/">TF2Maps</a>
                    <br>
                    </p>
                    <p id="links" style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/jOxHFbIZ#lh1727DUCOOnTwZ2ndIeme7PipzVgTQHYQy46BM9SIc">pass_aquarium_a16</a> - 10/19/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/HLZQFBjJ#Qbg46cDyy2m6jVOeN5PWNqrpFYxVZ7QwPo1ULIX3JC4">pass_aquarium_a15</a> - 5/31/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/KLJ0iQLI#v8Tgbr_stfiHae1r8tSLLQBg6iLaXVgh6iRtHpVLVew">pass_aquarium_a14</a> - 5/28/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/KSpkHTIS#iUCNUW0p-sb17qT_2WOU5GNyKC7YtFWq7Ut7OAlciMM">pass_aquarium_a13</a> - 5/24/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/PaInjC6T#j6O4gV6oFQLBslAJif2XyLWDG05EjcpHVt9uxW99_BM">pass_aquarium_a12</a> - 4/28/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/KKB0kZAI#OSrlupFUecpE8qam0kLx-n8saLVggGT99UCCjYR7Eto">pass_aquarium_a11</a> - 4/10/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/ybRXhLCK#tYz8BDCoyc0aumKM-70oykpD-bWBTqk_CrFWdjmY_w8">pass_aquarium_a10</a> - 3/19/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/eTwhmBwR#6grskFIZ4XXMhtrXAUSgSenRAEUgw8P2e2vEhm8BOJM">pass_aquarium_a9</a> - 3/16/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/LaYCUD6T#Lt3JFwVSI-__NSqog_MYlmYBiAwqHGaZ3aqXHj8ZV9c">pass_aquarium_a8</a> - 3/11/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/KThzhbaI#m55Dd9gtMY8ePLXkBXrCSJGPUGXsfE4VbsUhMF9jeWY">pass_aquarium_a7_fix2</a> - 3/1/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/qLBDVSrT#I2eJnc9cUgcCQbH8Swqa5rXiQXxOsa-2o1SSHVFBHj8">pass_aquarium_a7</a> - 3/1/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/zCZj1YqD#lN1H7Mubjv7af4ADuMmA2H5IeQixXWc6ZN2WOdrr6-Y">pass_aquarium_a6</a> - 2/25/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/PKIGCZYJ#K-dxUTNEDjQz0DRfQMcEVa4iSN40alAvQVJzrvDls1Q">pass_aquarium_a5</a> - 2/18/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/mbBlkaAS#H7f6ObA3hxcZ56RXFRVxSFsG16-e7MWHS11OCJGMGJQ">pass_aquarium_a4</a> - 2/17/24 by Bobby @tf2maps<br>
                        <a href="https://mega.nz/file/XSJWFRpQ#lovS2DZmp9USpHbRhKcCPhq0lZ5WRMDPgWgE2J2pm40">pass_aquarium_a3</a> - 2/11/24 by <a href="https://discord.com/channels/471798073996345344/1203427328055836702/1206441261133996102">Bobby</a><br>
                        <a href="https://mega.nz/file/iDox1Q7A#9e-2s0dlg9jN2mOeHw09CwgHXVr7Q462TCxyCUNLiBQ">pass_aquarium_a2</a> - 2/8/24 by <a href="https://discord.com/channels/471798073996345344/1203427328055836702/1205327634255446128">Bobby</a><br>
                        <a href="https://mega.nz/file/fegkBaZK#sOMTt2r9my19MXD2XQcBH6AO0gtWmlZ2PlFnmlX33N8">pass_aquarium_a1</a> - 2/7/24 by <a href="https://discord.com/channels/471798073996345344/1203427328055836702/1204982749493198899">Bobby</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
