<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_arena2</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_arena2</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p>
                    The map pass_arena2 created by Jaguar for the Team Fortress 2 4v4 PASS Time community. This was the first map ever made for the gamemode, both of which Jaguar created. Files that start with goalfix_ are likely created by EaasyE, the rest created by Jaguar. Exer took over development for version b8 onwards, since Jaguar did not develop the map anymore. Danmar also has contributed via mainly decoration passes. The listings for maps below are arranged in their most likely order chronologically, but their true order is unknown at this time.
                    </p>
                    <p>
                    <a href="">goalfix_strongerpush_clipping</a><br>
                    <a href="">goalfix_conveyor3</a> - 10/1/21 by <a href=https://discord.com/channels/471798073996345344/847697005433192478/893692719145312308>easye</a><br>
                    <a href="">goalfix_conveyor3.vmf</a> - 11/7/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/1039354945620684820">easye</a><br>
                    <a href="">pass_arenatest</a> - early version of arena with dev textures<br>
                    <a href="">pass_arena1_a12</a><br>
                    <a href="">pass_arena2_a4</a><br>
                    <a href="">pass_arena2_a5</a><br>
                    <a href="">pass_arena2_a6</a><br>
                    <a href="">pass_arena2_a7</a><br>
                    <a href="">pass_arena2_a8</a><br>
                    <a href="">pass_arena2_a9</a>
                    <a href="">pass_arena2_a10</a> - 11/10/20 by obamid (https://discord.com/channels/471798073996345344/724510854938230844/775873055234064406)
                    <a href="">pass_arena2_a11</a>
                    <a href="">pass_arena2_a12</a>
                    <a href="">pass_arena2_b1</a>
                    <a href="">pass_arena2_b3</a> - 9/26/18 by sherwoodfan (https://discord.com/channels/471798073996345344/491825043102367768/494677064201404417)
                    <a href="">pass_arena2_b4</a> - 7/13/19 by Laxson (https://discord.com/channels/471798073996345344/491825043102367768/599802646441885699)
                    <a href="">pass_arena2_b4_GCF4.vmf</a> - this is goalfix_conveyor4 but with pass prefix to make it work on serveme - 5/29/23 by easye (https://discord.com/channels/471798073996345344/1112809183000133794/1112929578990719036)
                    <a href="">pass_arena2_gfc4</a>
                    pass_arena2_b4_test1 - 11/17/18 by Jaguar (https://discord.com/channels/471798073996345344/491825043102367768/513572790087974922)
                    pass_arena2_b4_test2 - 11/25/18 by Jaguar (https://discord.com/channels/471798073996345344/491825043102367768/516425437468164110)
                    pass_arena2_b5 - 6/18/23 by Jaguar (https://discord.com/channels/471798073996345344/1112809183000133794/1120132836880568431)
                    pass_arena2_b5_test1 - 5/18/19 by Jaguar (https://discord.com/channels/471798073996345344/491825043102367768/579411478436904960)
                    pass_arena2_b6 - 6/24/23 by Jaguar (https://discord.com/channels/471798073996345344/1112809183000133794/1122301584928411658)
                    pass_arena2_b7 - 7/1/23 by Jaguar (https://discord.com/channels/471798073996345344/1112809183000133794/1124830509613207654)
                    
                    author: exer (confirmed by exer)
                    pass_arena2_showmatch
                    pass_arena2_showmatch2
                    pass_arena2_showmatch3
                    pass_arena2_showmatch4
                    
                    pass_arena2_b8 - 8/20/23 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1142806492748185672)
                    pass_arena2_b9 - 1/1/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1191579410009161758)
                    pass_arena2_b9_fix - 1/2/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1191885793069895830)
                    pass_arena2_b10 - 2/14/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1207497424231206943)
                    pass_arena2_b11 - 3/13/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1217526568079851581)
                    pass_arena2_danmar_v3 - danmar made a custom skybox for the map and some detailing
                    pass_arena2_danmar_v4
                    pass_arena2_b12_test4 - added danmar's stuff but also attempting to fix an OP bomb
                    pass_arena2_b12_test6
                    pass_arena2_b12_test12 - 5/10/24 by exer
                    pass_arena2_b12_test16
                    pass_arena2_b12_test20
                    pass_arena2_b12 - 5/30/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1245791365674172486)
                    pass_arena2_b13 - 6/28/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1256279914043146270)
                    pass_arena2_b14 - 7/18/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1263525817691144192)
                    pass_arena2_b14a - 9/3/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1280633094055137334)
                    pass_arena2_b14b - 9/5/24 by exer (https://discord.com/channels/471798073996345344/1112809183000133794/1281301631442620498)
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
