<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>pass_medieval_arena</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">pass_medieval_arena</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map pass_medieval_arena created by sagejay for the Team Fortress 2 4v4 PASS Time community. This is a lightly modified and fully retextured version of pass_arena2 by Jaguar to give it a medieval theme.
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/vSA03QyT#g1XelaCwYIENopMXJKlAzZEARdbikR0_OLfwKuhrO-8">pass_medieval_arena_v01</a> - 1/4/22 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/928116405260415056">sagejay</a><br>
                        <a href="https://mega.nz/file/ST4CxIQB#s2ii6DoYUFqU-FCE6hSILul0QMbIB23QOeh0P4RLvBU">pass_medieval_arena_v0</a><br>
                        <a href="https://mega.nz/file/aGZBwDCY#L1glSwPtFymkPQLasOvyZABkuCvXYQJZv6-5C7BiHq8">pass_medieval_arena</a><br>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
