<!--DOCTYPE html-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='clipped_wings.ico') }}">
    <script defer src="{{ url_for('static', filename='js/site.js') }}"></script>
    <title>poggers</title>
    <style>
        p {
            text-align: left;
        }
        
        .title{
            transform: translateY(0%);
        }
    </style>
</head>

<body>
    <div class="topbar">
        <img class="topbarImage" src="{{ url_for('static', filename='imgs/spooky_big_logo_trans.png') }}" alt="spooky passtime logo">
    </div>
    <div class="wrapper">
            <h1 class="title">poggers</h1>
        <main>
            <div class="sectionBackground">
                <section id="sectionOne">
                    <p style="text-indent:none">
                        The map poggers created by EaasyE for the Team Fortress 2 4v4 PASS Time community. poggers is intended to be a 2v2 PASS Time map that is a twist on the 4v4 variant.
                    <br><br>
                    <a style="font-size:xx-large;" href="https://tf2maps.net/downloads/pass_poggers.17226/">TF2Maps</a>
                    <br>
                    </p>
                    <p style="text-indent: 3em hanging each-line;">
                        <a href="https://mega.nz/file/vaB3UQJJ#lwoBG9UiHbh-lRrqd-anfPqlythFjmFl2F5R8PZ2_mI">poggers4</a> - 5/23/21 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/846102343166722109">EaasyE</a><br>
                        <a href="https://mega.nz/file/TOBVmSJb#U1akN-z-u8UMUjhhkKTe7VPEbl9DoQP2MlwYHJvfr2s">poggers3</a> - 5/23/21 by <a href="https://discord.com/channels/471798073996345344/526327201591984128/846102931144835082">EaasyE</a><br>
                        <a href="https://mega.nz/file/Obw0AAJK#gihYcDbymI5gC6J5r9ReArTbVfyDczMinwhWIBRzL0o">poggers</a>
                </p>
                <br><br><br> <!--the bottom line gets hidden and idk why so i'm just doing this till it gets fixed. not like it really matters if it gets fixed tho-->
                </section>
            </div>
        </main>
    </div>
</body>

</html>
